<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>patterndeck</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- favicon.ico and apple-touch-icon.png are generated and added automatically -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor/modernizr.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
      
    <!-- build:js(.) scripts/marked.js -->
    <!-- bower:js -->
    <script src="bower_components/marked/lib/marked.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <script type="text/javascript" src="scripts/head.min.js"></script>
      <noscript>
			<style>
				@media screen and (max-width: 715px) {
					.hs-content-scroller{
						overflow: visible;
					}
				}
			</style>
		</noscript>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<section id="columns">
   <div id="hs-container" class="hs-container">
			<aside class="hs-menu" id="hs-menu">
                <div class="hs-headline">
                    <img src="/images/logo-patterndeck.svg" width="200px">
                </div>
				<nav>
					<a href="#introduction"><span>About Patterndeck</span></a>
					<a href="#chapter1"><span>Connecting Life</span></a>
					<a href="#chapter2"><span>Smart Workspaces</span></a>
					<a href="#chapter3"><span>New Healthcare</span></a>
					<a href="#chapter4"><span>New Retail</span></a>
					<a href="#chapter5"><span>New Banking</span></a>
					<a href="#chapter6"><span>Rites of Passage</span></a>
				</nav>
			</aside>
			<a href="#hs-menu" class="hs-totop-link">Go to the top</a>
			<div class="hs-content-scroller">
				<div class="hs-content-wrapper">
					<article class="hs-content" id="introduction">
						<div class="hs-inner">
							<h2>About Patterndeck</h2>
							<h3>About</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<h4>More...</h4></p>
						</div>
					</article>
					<article class="hs-content" id="chapter1">
                        <div>
                            <img src="/images/connecting-life.jpg" width='100%'>
                        </div>
						<div class="hs-inner">
							<h2>Connecting Life</h2>
							<h3>Connecting Life</h3>
							<p>Incorporating changes in our individual lifestyle is difficult, whether it be learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult.</p>
                            <hr>
                            <h3>Author</h3>
                            <p>Indranil Bhattacharya</p>
                            <hr>
                            <h3>Latest updates</h3>

                            <p>Updated Adapting with life pattern</p>
                            <hr>
                            <h3>Latest comments</h3>
                            <h3>Jenny</h3>
                            <p>A few thoughts that popped up as I read:
This all started with Clever Digs so I’m wondering how I might assist you.
I haven’t been paying much attention to the playing field of Telecoms/Google/Apple/Android so, without doing some...</p>
                            <hr>
						</div>
					</article>
					<article class="hs-content" id="chapter2">
						<div class="hs-inner">
							<h2>Smart Workspaces</h2>
							<h3>Smart Workspaces</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <hr>
						</div>
					</article>
					<article class="hs-content" id="chapter3">
						<div class="hs-inner">
							<h2>New Healthcare</h2>
							<h3>New Healthcare</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <hr>
						</div>
					</article>
					<article class="hs-content" id="chapter4">
						<div class="hs-inner">
							<h2>New Retail</h2>
							<h3>About</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <hr>
						</div>
					</article>
					<article class="hs-content" id="chapter5">
						<div class="hs-inner">
							<h2>New Banking</h2>
							<h3>New Banking</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <hr>
						</div>
					</article>
					<article class="hs-content" id="chapter6">
						<div class="hs-inner">
							<h2>Rites of Passage</h2>
							<h3>Rites of Passage</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <hr>
						</div>
					</article>
				</div><!-- hs-content-wrapper -->
			</div><!-- hs-content-scroller -->
        </div>
</section>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script>
			head.js(
				{ jquery : "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" },
				{ mousewheel : "scripts/jquery.mousewheel.js" },
				{ mwheelIntent : "scripts/mwheelIntent.js" },
				{ jScrollPane : "scripts/jquery.jscrollpane.min.js" },
				{ history : "scripts/jquery.history.js" },
				{ stringLib : "scripts/core.string.js" },
				{ easing : "scripts/jquery.easing.1.3.js" },
				{ smartresize : "scripts/jquery.smartresize.js" },
				{ page : "scripts/jquery.page.js" }
			);
    </script>
      
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
