$font-path: '/styles/fonts/';
$icon-font-path: $font-path;
$fa-font-path: $font-path;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import '../bower_components/font-awesome/scss/font-awesome';

@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'patterns';

// Breakpoint starting viewport widths
$sm:  768px;
$md:  984px;
$lg: 1200px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
}

::-moz-selection {
  text-shadow: none;
  background: #ccc;
}

::selection {
  text-shadow: none;
  background: #ccc;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #6666cc;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #d2d2d5;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #a4a4a9;
  -webkit-border-radius: 10px;
  border: 2.5px solid #d2d2d5;
  border-top-width: 5px;
  border-bottom-width: 5px;

  &:hover, &:active {
    background-color: #909094;
  }
}

/* Bootstrap overwrite */
.navbar-default {
  border-color: transparent;
  background-color: #222;
  .navbar-brand {
    margin-top: -17px;
    &:hover, &:focus, &:active, &.active{
      color: #6666cc;
    }
  }
  .navbar-collapse {
    border-color: rgba(255,255,255,.02);
  }
  .navbar-toggle {
    border-color: #6666cc;
    background-color: #6666cc;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background-color: #6666cc;
    }
  }
  .nav {
    li {
      a {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        color: #fff;
        text-shadow: 1px 2px 8px #000;
        &:hover, &:focus{
          outline: 0;
          color: #cbcbd4;
        }
      }
    }
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #6666cc;
    &:hover, &:focus{
      color: #fff;
      background-color: #cbcbd4;
    }
  }
}

@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      transition: all .3s;
    }
    .navbar-nav>.active>a {
      border-radius: 3px;
    }
    &.navbar-shrink {
      padding: 10px 0;
      background: linear-gradient(rgba(25, 25, 25, 0.75) 0%, rgba(15, 15, 15, 0.9) 100%);
      border-bottom: 1px solid rgba(255,255,255,0.3);
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

section {
  min-height: 100%;
  position: relative;
  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.svg) center center;
    background-size: 63px 63px;
    box-shadow: inset 0 -2px 6px rgba(0,0,0,0.15), inset 0 4px 6px rgba(0,0,0,0.15);
  }
}

footer {
  p {
    margin: 0;
    padding: 20px 0;
  }
}

.bg-light-gray {
    background-color: #ececef;
}

.close-modal {
  position: fixed;
  @include set(top, (xs: 5px, sm: 5px, md: 10px, lg: 15px) );
  @include set(right, (xs: 25px, sm: 25px, md: 25px, lg: 30px) );
  @include set(width, (xs: 50px, sm: 50px, md: 75px, lg: 75px) );
  @include set(height, (xs: 50px, sm: 50px, md: 75px, lg: 75px) );
  background-color: rgba(255,255,255,0.4);
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
  &:hover {
    opacity: .3;
  }
  .lr {
    z-index: 1051;
    width: 1px;
    @include set(height, (xs: 50px, sm: 50px, md: 75px, lg: 75px) );
    @include set(margin-left, (xs: 25px, sm: 25px, md: 35px, lg: 35px) );
    background-color: #222;
    transform: rotate(45deg);
    .rl {
      z-index: 1052;
      width: 1px;
      @include set(height, (xs: 50px, sm: 50px, md: 75px, lg: 75px) );
      background-color: #222;
      transform: rotate(90deg);
    }
  }
}

h1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  @include set(font-size, (xs: 30px, sm: 50px, md: 50px, lg: 50px) );
  @include set(line-height, (xs: 30px, sm: 50px, md: 50px, lg: 50px) );
  font-weight: 300;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  span {
    @include set(font-size, (xs: 18px, sm: 25px, md: 25px, lg: 25px) );
    @include set(line-height, (xs: 18px, sm: 25px, md: 25px, lg: 25px) );
    font-weight: 100;
    display: block;
  }
}

.btn-custom {
  padding: 17px 40px;
  margin-top: 10px;
  border-color: #00259a;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background-color: #00259a;
  &:hover, &:active {
    color: rgba(255,255,255,0.7);
  }
}

#home {
  text-align: center;
  color: #fff;
  background: url(../images/home1.jpg) no-repeat center center;
  background-size: cover;
  text-shadow: 1px 2px 8px #000;
  .pattern{
    transform-style: preserve-3d;
  }
  .whiteLink {
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    display: block;
    margin-top: 10px;
    &:hover, &:active {
      color: rgba(255,255,255,0.7)
    }
  }
}

#overview, #introduction {
  .pattern{
    background: url(../images/pattern-1.svg) center center;
    background-size: 63px 63px;
  }
  .section-background {
    height: 45%;
    background: url(../images/learner.jpg) no-repeat top left;
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 8px #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform-style: preserve-3d;
  }
  .container {
    @include set(padding-top, (xs: 20px, sm: 30px, md: 40px, lg: 50px) );
    height: 55%;
    overflow: auto;
    p {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

#introduction {
  .pattern {
    background: #fff;
  }
  .section-background {
    @include set(height, (xs: 250px, sm: 300px, md: 350px, lg: 400px) );
  }
}

.greenBox {
  color: #1E5F29;
}

.orangeBox {
  color: #F68B28;
}

.yellowBox {
  color: #F1E532;
}

.blueBox {
  color: #215EAC;
}

.img-changeable-dimensions {
  @include set(width, (xs: 90%, sm: 80%, md: 60%, lg: 50%) );
}

