$font-path: "/styles/fonts/";
$icon-font-path: $font-path;
$fa-font-path: $font-path;

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "../bower_components/font-awesome/scss/font-awesome";

@import "fonts";
@import "mixins";
@import "variables";
@import "patterns";

// Breakpoint starting viewport widths
$sm: 768px;
$md: 984px;
$lg: 1200px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
}

::-moz-selection {
  text-shadow: none;
  background: #ccc;
}

::selection {
  text-shadow: none;
  background: #ccc;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #6666cc;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #d2d2d5;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #a4a4a9;
  -webkit-border-radius: 10px;
  border: 2.5px solid #d2d2d5;
  border-top-width: 5px;
  border-bottom-width: 5px;
  &:hover, &:active {
    background-color: #909094;
  }
}

/* Bootstrap overwrite */
.navbar-default {
  border-color: transparent;
  background-color: #222;
  .navbar-brand {
    margin-top: -17px;
    &:hover, &:focus, &:active, &.active {
      color: #6666cc;
    }
  }
  .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
  }
  .navbar-toggle {
    border-color: #6666cc;
    background-color: #6666cc;
    .icon-bar {
      background-color: #fff;
    }
    &:hover, &:focus {
      background-color: #6666cc;
    }
  }
  .nav {
    li {
      a {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        color: #fff;
        text-shadow: 1px 2px 8px #000;
        &:hover, &:focus {
          outline: 0;
          color: #cbcbd4;
        }
      }
    }
  }
  .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #6666cc;
    &:hover, &:focus {
      color: #fff;
      background-color: #cbcbd4;
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      transition: all .3s;
    }
    .navbar-nav > .active > a {
      border-radius: 3px;
    }
    &.navbar-shrink {
      padding: 10px 0;
      background: linear-gradient(rgba(25, 25, 25, 0.75) 0%, rgba(15, 15, 15, 0.9) 100%);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

section {
  min-height: 100%;
  position: relative;
  .pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.svg) center center;
    background-size: 63px 63px;
    box-shadow: inset 0 -2px 6px rgba(0, 0, 0, 0.15), inset 0 4px 6px rgba(0, 0, 0, 0.15);
  }
}

footer {
  p {
    margin: 0;
    padding: 20px 0;
  }
}

.bg-light-gray {
  background-color: #ececef;
}

.close-modal {
  position: fixed;
  @include set(top, (xs: 5px, sm: 5px, md: 10px, lg: 15px));
  @include set(right, (xs: 25px, sm: 25px, md: 25px, lg: 30px));
  @include set(width, (xs: 50px, sm: 50px, md: 75px, lg: 75px));
  @include set(height, (xs: 50px, sm: 50px, md: 75px, lg: 75px));
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
  &:hover {
    opacity: .3;
  }
  .lr {
    z-index: 1051;
    width: 1px;
    @include set(height, (xs: 50px, sm: 50px, md: 75px, lg: 75px));
    @include set(margin-left, (xs: 25px, sm: 25px, md: 35px, lg: 35px));
    background-color: #222;
    transform: rotate(45deg);
    .rl {
      z-index: 1052;
      width: 1px;
      @include set(height, (xs: 50px, sm: 50px, md: 75px, lg: 75px));
      background-color: #222;
      transform: rotate(90deg);
    }
  }
}

h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  @include set(font-size, (xs: 30px, sm: 50px, md: 50px, lg: 50px));
  @include set(line-height, (xs: 30px, sm: 50px, md: 50px, lg: 50px));
  font-weight: 300;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  span {
    @include set(font-size, (xs: 18px, sm: 25px, md: 25px, lg: 25px));
    @include set(line-height, (xs: 18px, sm: 25px, md: 25px, lg: 25px));
    font-weight: 100;
    display: block;
  }
}

.btn-custom {
  padding: 17px 40px;
  margin-top: 10px;
  border-color: #3c3c49;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  background-color: #3c3c49;
  &:hover, &:active {
    color: rgba(255, 255, 255, 0.7);
  }
}

#home {
  text-align: center;
  color: #fff;
  background: url(../images/home1.jpg) no-repeat center center;
  background-size: cover;
  text-shadow: 1px 2px 8px #000;
  .pattern {
    transform-style: preserve-3d;
  }
  .whiteLink {
    font-size: 16px;
    color: #fff;
    line-height: 1.4;
    display: block;
    margin-top: 10px;
    &:hover, &:active {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

#overview, #introduction {
  .pattern {
    background: url(../images/pattern-1.svg) center center;
    background-size: 63px 63px;
  }
  .section-background {
    height: 45%;
    background: url(../images/learner.jpg) no-repeat top left;
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 8px #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform-style: preserve-3d;
  }
  .container {
    @include set(padding-top, (xs: 20px, sm: 30px, md: 40px, lg: 50px));
    height: 55%;
    overflow: auto;
    p {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

#introduction {
  .pattern {
    background: #fff;
  }
  .section-background {
    height: 45%;
    background: url(../images/introductionimage.jpg) no-repeat top left;
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 8px #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform-style: preserve-3d;
    @include set(height, (xs: 125px, sm: 150px, md: 175px, lg: 200px));
  }
}

.greenBox {
  color: #1E5F29;
}

.orangeBox {
  color: #F68B28;
}

.yellowBox {
  color: #F1E532;
}

.blueBox {
  color: #215EAC;
}

.img-changeable-dimensions {
  @include set(width, (xs: 90%, sm: 80%, md: 60%, lg: 50%));
}

.row-full-height {
  height: 100%;
  max-height: 100%;
}

div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}

#mixedContent {
  width: calc(100% - 75px);
  height: 100%;
  position: relative;
  .contentBox {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    width: 450px;
    background: #edeeee;
    border: 0;
    padding: 0;
    margin: 0;
    user-select: none;
    box-shadow: inset 10px 0 5px -5px rgba(0,0,0,0.4);
    .image-container{
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        max-height: 270px;
        transform: translateX(-50%) translateY(-50%);
      }
      h2 {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.8);
      }
    }
    p {
      font-size: 16px;
      padding: 0 70px 10px;
      color: #333;
    }
    h4, h5 {
      padding: 0 70px 10px;
    }
    hr {
      border-bottom: 1px solid rgba(255,255,255,0.8);
      border-top: 1px solid rgba(0,0,0,0.2);
      margin:20px 70px;
    }
    .content-container {
      overflow-x: hidden;
      overflow-y: auto;
      height: calc(100% - 260px);
    }
  }
}

#offcanvas-initiator {
  position: absolute;
  z-index: 100;
  top: 80px;
  left: -42px;
  height: 12px;
  width: 18px;
  border: 0;
  background-image: url(../images/offcanvas-toggler.svg);
  background-size: 18px 12px;
  background-color: transparent;
  opacity: .5;
  &:hover, &:focus {
    text-decoration: none;
    outline: 0;
    opacity: 1;
  }
}

.row-offcanvas {
  position: relative;
  transition: all .25s ease-out;
}

.row-offcanvas-left {
  left: 75px;
  .sidebar-offcanvas {
    @include set(left, (xs: -90%, sm: -300px, md: -300px, lg: -300px));
  }
  &.active {
    @include set(left, (xs: 90%, sm: 300px, md: 300px, lg: 300px));
    #logo-icon {
      display: none;
    }
    #offcanvas-initiator {
      top: 32px;
      transition: all .25s ease-out;
    }
    .sidebar-nav {
      opacity: 1;
      transition: all .25s ease-out;
    }
    #mixedContent {
      @include set(width, (xs: 10%, sm: calc(100% - 300px), md: calc(100% - 300px), lg: calc(100% - 300px)));
    }
  }
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  bottom: 0;
  @include set(width, (xs: 90%, sm: 300px, md: 300px, lg: 300px));
  background: url(../images/black-pattern.png) repeat top left;
  .sidebar-nav {
    opacity: 0;
  }
  ul {
    overflow: auto;
  }
  li {
    height: 55px;
    line-height: 55px;
    padding: 0 0 0 35px;
    margin: 0 10px 0 20px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    &:last-of-type {
      border-bottom: 0;
    }
    &:nth-of-type(1) {
      border-top: 0;
    }
    a {
      color: rgba(255,255,255,0.7);
      &:hover, &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
    img {
      margin: -2px 5px 0 0;
      border-radius: 3px;
    }
  }
  #logo-holder {
    height: 77px;
    position: relative;
    margin:0 0 15px;
    border: 0;
  }
  #logo {
    width: 137px;
    height: 37px;
    position: absolute;
    top: 20px;
    left: 45px;
    img {
      width: 137px;
      height: 37px;
    }
  }
  #logo-icon {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 20px;
    right: 14px;
    img {
      width: 38px;
      height: 38px;
    }
  }
}
