// bower:scss
@import "../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "compass/css3";

@import "variables";

#contact #contact-grid {
  display: none;
  margin-top: -29px;
}

#patterns {
  color: #6b6b78;
 
}

.modal-body {
position: relative;
padding: 0px;
}

hr {
margin-top: -8px;
margin-bottom: 6px;
border: 0;
border-top: 4px solid #333;
}