<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">About patterndeck</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="introduction-content1"></div>
            <script>
              document.getElementById('introduction-content1').innerHTML =
                marked('We believe our businesses are in need of profound change. This change is difficult, the way giving up a habit is difficult. Change requires developing, understanding, and embracing new and unfamiliar solutions. We cannot always understand these new solutions in terms of our existing solutions. And each solution must be practiced in terms of other solutions in our extended organizations. We organize our solutions as patterns, where each pattern explains what it is trying to solve, how they propose to solve it, and their interconnection with other patterns. Together, we create New Business.');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->

  </div>
</div>
{{>footer}}
