<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="./connecting-life-stories.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Connecting life</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="story-content1"></div>
            <script>
              document.getElementById('story-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="story-content2"></div>
            <script>
              document.getElementById('story-content2').innerHTML =
                marked('###Ad hoq products\nI have some guests coming over this weekend, and they have a 5 year old child. I **don’t usually watch TV** at all, but my guests really insisted that I have some cartoon channels for their child only for this weekend. As I don’t watch TV (ever), I want to get TV services only for this weekend, and only for the 3 cartoon channels the 5 year old child will watch. I **don’t want to be hassled with new contracts**, new equipment, long customer service waits, or any cabling to make this happen. It should just work. I want to be able to activate and de-activate the services I need for this weekend all by myself in an easy to understand and simple manner.');
            </script>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
