<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
      <a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Market Strategy</div>
              <div class="intro-heading">Adapting with Life</div>
              <img src="images/maturity-1.svg" width="20px">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/adapting-with-life.jpg" alt="Adapting with Life" class="img-responsive" /></p>
            <div id="patternsModal1-content1">
            </div>
            <script>
              document.getElementById('patternsModal1-content1').innerHTML =
                marked('*We cannot predict the turns our lives will take, and our Telco Products adapt to changes in our lives rather than us adapting our lives to our Telco Products.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal1-content2"></div>
            <script>
              document.getElementById('patternsModal1-content2').innerHTML =
                marked('The majority of Telco products are structured around rigid contracts for fixed durations as subscriptions. Telcos in some countries have historically provided Customers subsidized devices. The subsidized devices are provided in exchange for a commitment to a subscription for a fixed duration with minimum monthly charges to cover the device’s cost <sup>1</sup>. In contemporary times, where the prices of a Smartphone is comparable to the price of a laptop, the minimal monthly charges can become higher than a Customer’s projected consumption. Customers are increasingly willing to purchase their own Smartphones and only require access to calling, messaging, and data. If there are deep-rooted changes in a customer’s life, such as losing their job or going through a divorce, their contracts usually remain the same. Customers are forced to project their contemporary circumstances for the duration of the contract, and purchase products based on their “best-case” consumption.Once they are into this contract, they feel locked, and are unable to make changes easily. Rather than a communications or lifestyle product that is responsive to changes in a person’s life, it feels like purchasing a product from a Bank or an Insurance company. Telco products carry the impression of being loaded with heavy contractual terms, and miss opportunities to sell smaller one-off purchases, such as a single song without a music subscription, an hour’s pass for high-speed internet, or a 1 week all you can call rate to an international number. Customers cope today with other solutions from other providers where they do not feel locked in, such as paying for an hour’s worth of WiFi access <sup>2</sup> with a hotel in a foreign country despite having a mobile subscription.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal1-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal1-content3').innerHTML =
                marked('<hr />*The Dunning process used by most Telcos is reminscent of how Banks and Insurance companies deal with defaulters. See “The worst mobile phone offenders - and how to complain.”*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal1-content4"></div>
            <script>
              document.getElementById('patternsModal1-content4').innerHTML =
                marked('Therefore structure Telco products to exist on a base platform where subscriptions can be added or removed at will. A subscription for unlimited calls can be replaced by a subscription for 200 minutes of calls per month at half the price with a few interactions in the space of seconds. Subscriptions become recurring unless explicitly stopped, and they can be stopped at any time. If the customer has a subsidized device, give the flexibility to add and remove subscriptions at will as long as their total charged subscription rate and consumption equals their minimum required commitment. Customers are able to purchase one-off products at competitive prices, such as a single TV episode, an hour’s high-speed internet access, or a week’s pass to call an international number. In difficult moments of a customer’s life, such as the moments when they lose their job or a loved one, give them the complete flexibility to tailor their subscriptions in any way they want, to the extent of removing all subscriptions. Provide clear communications to customers that explains the reasons for the flexibility being the desire to develop empathy with the customer’s situation.<br /><br />Understand the nature of change through the stories of the [Participating Customer Demographic](participating-demographic.html), and correlate situations to product structures in the [Productpedia](productpedia.html) with [Ones just like that One](one-just-like-that-one.html). Understand a customer’s exact situation through examining the [Aware Instances](aware-instances.html) and their [Change History](change-history.html), and assessing their loyalty  with how much they possess in the [Own Base Currency](own-base-currency.html). Give more freedom than usual in these situations so [Customers create their Own](customers-create-their-own.html) install base, and suggest [One just like that One](one-just-like-that-one.html) as alternatives.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal1-content5" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal1-content5').innerHTML =
                marked('<hr />*WiFi is increasingly becoming a free commodity. See “The Price of Staying Connected.”*');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="next" href="aware-instances.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Aware instances</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}