<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="./connecting-life-stories.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Connecting life</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="story-content1"></div>
            <script>
              document.getElementById('story-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="story-content2"></div>
            <script>
              document.getElementById('story-content2').innerHTML =
                marked('###Address changes\nMy address has recently changed, and I want to be able to change it quickly. I don’t want to call and wait until someone picks up my phone so that they can manually enter my new address data. I certainly don’t want to write a letter to inform Telekom my address or bank account details have changed. I don’t have a fax machine, and I am not interested in sending things by faxes either. All of these forms of interactions seem to be from another era.');
            </script>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
