<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="./connecting-life-stories.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Connecting life</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="story-content1"></div>
            <script>
              document.getElementById('story-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="story-content2"></div>
            <script>
              document.getElementById('story-content2').innerHTML =
                marked('###All they want is my money\nAt the moment, all my provider seems to do is send me lots of invoices. They only seem to contact me to get more of my money. Sometimes I get contacted with a new offer, but I want honest advice on what’s best for me.');
            </script>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
