 <!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A pattern language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Broad Canopies</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <hr>
                        <img src="images/patterns/broad-canopies.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal3-content1"></div>
            <script>
              document.getElementById('patternsModal3-content1').innerHTML =
                marked('*Give new products the room to grow in the middle of bigger products.*');
            </script>
                </div>
                
              
        </div>
    </article>

    <!-- Footer -->
{{>footer}}