<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Market Strategy</div>
              <div class="intro-heading">Classic Lines</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/classic-lines.jpg" alt="Aware Instances" class="img-responsive" /></p>
            <div id="patternsModal6-content1">
            </div>
            <script>
              document.getElementById('patternsModal6-content1').innerHTML =
                marked('*Recognize, foster, and grow Classic lines. Keep a few of these moulds. Some products never grow old. Not everyone wants the latest toy. It just looks that way to technocrats.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal6-content2"></div>
            <script>
              document.getElementById('patternsModal6-content2').innerHTML =
                marked('The Telecommunications industry is characterized by frequent technological advancements which enable new products. These products enable faster speeds, improves the quality of communications, and permits the convergence of telecommunications services utilizing common enabling technology. While technology-savvy customers are eager to try out emergent technology, there exists a customer base for more traditional products. For instance, customers who prefer mobile devices that just make phone calls but have long battery lives are increasingly faced with fewer and fewer choices. In some cases, the need to migrate old technologies and consolidate it with newer technology leads to initial levels of poor service quality and unfamiliarity with the product, such as the case of migrating customers using voice with ISDN access to voice with IP access. Withdrawing older products with loyal customers can lead to losing them despite giving them newer alternatives based on advanced technology.');
            </script>
          </div>
          
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal6-content3"></div>
            <script>
              document.getElementById('patternsModal6-content3').innerHTML =
                marked('Therefore identify products that have loyal customer bases, display stable patterns of consumption and usage, and provide user experiences that distinguish them from other products. Create virtual and physical spaces where users can share their passions about products with other users. Understand the situations where customers use these products, and their utility as communications enablers. When changing the underlying enabling technology to another, try and recreate the user experiences in forms that find a balance between the new technology and existing ways of work. Avoid excessive skeumorphic design in trying to preserve classics, such as preserving rotary dials on digital telephones [1], but also avoid radical new forms that depart from existing forms without providing sufficient  utility. If a classic product cannot be continued, migrate classic users by explaining how alternatives preserve the  key characteristics of these classics.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal6-content4" class="patterns-notes">
            </div>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal6-content5"></div>
            <script>
              document.getElementById('patternsModal6-content5').innerHTML =
                marked('Understand a product’s usage patterns with the [Participating Demographic](participating-demographic.html), and encourage the [Three Product Champions](three-product-champions.html)to determine timeless characteristics of their products as [Signature Aromas](signature-aromas.html). Expand on this understanding by speaking to users in the [Low-walled Town Communities](low-walled-town-communities.html) for product initiatives where the [Whole Town Participates](whole-town-participates.html). Create internal product fan clubs around the [Town Well](town-well.html), and owner fan clubs beyond the walls of the [Fortified Town](fortified-town.html).');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal2-content7" class="patterns-notes">
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="charge-upon-consumption.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Charge Upon Consumption</h3>
          <span>Operations</span>
          <img src="images/patterns/charge-upon-consumption_1.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="clear-withering-products.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Clear Withering Products</h3>
          <span>Operations</span>
          <img src="images/patterns/clear-withering-products_1.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}