 <!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A pattern language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Classic Lines</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <hr>
                        <img src="images/patterns/classic-lines.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal7-content1"></div>
            <script>
              document.getElementById('patternsModal7-content1').innerHTML =
                marked('*Recognize, foster, and grow Classic lines. Keep a few of these moulds. Some products never grow old. Not everyone wants the latest toy. It just looks that way to technocrats.*<br /><br />The Telecommunications industry is characterized by frequent technological advancements which enable new products. These products enable faster speeds, improves the quality of communications, and permits the convergence of telecommunications services utilizing common enabling technology. While technology-savvy customers are eager to try out emergent technology, there exists a customer base for more traditional products. For instance, customers who prefer mobile devices that just make phone calls but have long battery lives are increasingly faced with fewer and fewer choices. In some cases, the need to migrate old technologies and consolidate it with newer technology leads to initial levels of poor service quality and unfamiliarity with the product, such as the case of migrating customers using voice with ISDN access to voice with IP access. Withdrawing older products with loyal customers can lead to losing them despite giving them newer alternatives based on advanced technology.<br /><br />Therefore identify products that have loyal customer bases, display stable patterns of consumption and usage, and provide user experiences that distinguish them from other products. Create virtual and physical spaces where users can share their passions about products with other users. Understand the situations where customers use these products, and their utility as communications enablers. When changing the underlying enabling technology to another, try and recreate the user experiences in forms that find a balance between the new technology and existing ways of work. Avoid excessive skeumorphic design in trying to preserve classics, such as preserving rotary dials on digital telephones [1], but also avoid radical new forms that depart from existing forms without providing sufficient utility. If a classic product cannot be continued, migrate classic users by explaining how alternatives preserve the key characteristics of these classics.<br /><br />Understand a product’s usage patterns with the [Participating Demographic](participating-demographic.html), and encourage the [Three Product Champions](three-product-champions.html)to determine timeless characteristics of their products as [Signature Aromas](signature-aromas.html). Expand on this understanding by speaking to users in the [Low-walled Town Communities](low-walled-town-communities.html) for product initiatives where the [Whole Town Participates](whole-town-participates.html). Create internal product fan clubs around the [Town Well](town-well.html), and owner fan clubs beyond the walls of the [Fortified Town](fortified-town.html).');
            </script>
                </div>
              
                
              
        </div>
    </article>

    <!-- Footer -->
{{>footer}}