<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Operations</div>
              <div class="intro-heading">Clear Withering Products</div>
              <img src="images/maturity-3.svg" width="64px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/clear-withering-products.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal7-content1">
            </div>
            <script>
              document.getElementById('patternsModal7-content1').innerHTML =
                marked('*When the product starts to wither, clear it and replace it with new products.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal7-content2"></div>
            <script>
              document.getElementById('patternsModal7-content2').innerHTML =
                marked('Telecommunications products are launched within a specific market context which can consist of  specifically identified consumer needs and wants, prototypical consumer behavior, and required consumer education and security. If the gap between the product’s original purpose and the contemporary circumstances is far to broad, the product’s market penetration and sustainability will start to wither. Attempts to regenerate these products with broad gaps require revisions in their original marketing and operational strategy. These products with broad gaps also tend to have small and shrinking customer bases, and their continued operation incurs low or negative profitability.  Despite best intentions, products that neglected due to shifts in organizational focus tend to wither over time. Although these products are  soon removed from commercial catalogs to avoid new customers, they continue to be operated for existing customers leading. This leads to reduced organizational focus, brand dilution, reduced overall profitability, and increased operational complexity.<br /><br />If a product’s market reach and customer base shrinks to the extent that it incurs low or negative profitability, first explore the possibility of whether it can be easily transformed or altered to improve its commercial sustainability. If the transformation of the product requires greater effort than its market potential, remove the product. If the complete removal of the product is extremely difficult due to its implementation, create operational procedures to demarcate its non-operation, and deprecate these practices when migrating to new systems.<br /><br />Use Product Markers to understand the criteria for a product’s success, and through [Constant Circulation](constant-circulation.html) by a [Few Skilled Gardeners](few-skilled-gardeners.html) where all products are [Planted in a Single Garden](plant-in-a-single-garden.html). When [Product Markers](product-markers.html) indicate a product’s decline, engage the [Three Product Champions](three-product-champions.html) and the [Participating Demographic](participating-demographic.html) to understand the original market context and the reasons for the product’s decline. Attempt to transform the product based on [Recast Moulds](recast-moulds.html) and utilize [Growth Supports](growth-supports.html) if the product exhibits potential. If all else fails, remove the product from all operational and commercial activities. If the product has [Deep Roots](deep-roots.html), let it lie and deprecate it gradually from commercial and operational activities.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal7-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal7-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="classic-lines.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Classic Lines</h3>
          <span>Market Strategy</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="coherent-workspace.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Coherent Workspace</h3>
          <span>Organization Structure</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}