<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Organization Structure</div>
              <div class="intro-heading">Coherent Workspace</div>
              <img src="images/maturity-3.svg" width="64px">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/coherent-workspace.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal8-content1">
            </div>
            <script>
              document.getElementById('patternsModal8-content1').innerHTML =
                marked('*Individuals who work within a Telco are able to work from many spaces and make them into workspace, where each workspace offers a quality other workspace don’t while creating a distinctly identifiable workplace.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal8-content2"></div>
            <script>
              document.getElementById('patternsModal8-content2').innerHTML =
                marked('&nbsp;\n\n##Connecting Life is looking for contributors.\n***\n<br />\n\n###If you feel that you have something to add, [here\'s how](http://connectinglife.patterndeck.businesselements.org/).\n<br />\n\n1. ####Request an account from the moderator.\n2. ####Login and have fun.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal8-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal8-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="clear-withering-products.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Clear Withering Products</h3>
          <span>Operations</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="components-balance-themselves.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Components Balance Themselves</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}