<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Component Behavior</div>
              <div class="intro-heading">Configuration inverse to its Complexity</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/configuration-inverse-to-complexity.jpg" alt="Aware Instances" class="img-responsive" /></p>
            <div id="patternsModal10-content1">
            </div>
            <script>
              document.getElementById('patternsModal10-content1').innerHTML =
                marked('*If a product has a few configurable options, configure using a proprietary language. If a product is highly configurable, configure using source code.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal10-content2"></div>
            <script>
              document.getElementById('patternsModal10-content2').innerHTML =
                marked('Products rarely have a stable set of characteristics, and their characteristics and behavior need to be modified continuously throughout their operation. These changes can range from price alterations, taxation adjustments, device dependencies (e.g. change the device offered with the product), promotional offerings, to modifications in enabling technology. The ability to modify a product’s characteristics and behavior during its operation is defined as its configurability. Each configurable option introduces an alternate variable state, and each possible state introduces greater complexity. Business stakeholders often desire their product’s to be easily modifiable, increasing the product’s configurability requirements. The introduction of each configurable option increases the system’s complexity and maintenance becomes more difficult and expensive. Systems with several configurable options require specialized knowledge, which tends to become entrenched with a few individuals. Similarly, vendors offering proprietary systems that are highly configurable require specialized knowledge which is more difficult to obtain than those of open languages.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal10-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal10-content3').innerHTML =
                marked('<hr />*For a thorough analysis of distributed state control, see Moseley, B., Marks, P., Out of the Tar Pit, 2006.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal10-content4"></div>
            <script>
              document.getElementById('patternsModal10-content4').innerHTML =
                marked('Therefore introduce product configurability extremely cautiously. If a single system requires a few configurable options, offer configuration through proprietary configuration settings. If a single system requires several configurable options, manage their configurations directly through source code developed in open languages. Avoid the use of central controllers that configure several systems simultaneously, and build awareness of configurations  spanning multiple systems within each of those systems individually.<br /><br />The [Few Skilled Gardeners](few-skilled-gardeners.html) and [Three Product Champions](three-product-champions.html) collectively decide what to make configurable in a system,avoiding excessive configuration whenever possible. The configurability of a product is altered throughout its [Ringed Growth](ringed-growth.html).');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal10-content5" class="patterns-notes">
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="components-balance-themselves.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Components Balance Themselves</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="constant-circulation.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Constant Circulation</h3>
          <span>Operations</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}