<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A pattern language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Configuration inverse to its Complexity</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <hr>
                        <img src="images/patterns/configuration-inverse-to-complexity.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal11-content1"></div>
            <script>
              document.getElementById('patternsModal11-content1').innerHTML =
                marked('*If a product has a few configurable options, configure using a proprietary language. If a product is highly configurable, configure using source code.*<br /><br />Products rarely have a stable set of characteristics, and their characteristics and behavior need to be modified continuously throughout their operation. These changes can range from price alterations, taxation adjustments, device dependencies (e.g. change the device offered with the product), promotional offerings, to modifications in enabling technology. The ability to modify a product’s characteristics and behavior during its operation is defined as its configurability. Each configurable option introduces an alternate variable state, and each possible state introduces greater complexity. Business stakeholders often desire their product’s to be easily modifiable, increasing the product’s configurability requirements. The introduction of each configurable option increases the system’s complexity and maintenance becomes more difficult and expensive. Systems with several configurable options require specialized knowledge, which tends to become entrenched with a few individuals. Similarly, vendors offering proprietary systems that are highly configurable require specialized knowledge which is more difficult to obtain than those of open languages.<br /><br />Therefore introduce product configurability extremely cautiously. If a single system requires a few configurable options, offer configuration through proprietary configuration settings. If a single system requires several configurable options, manage their configurations directly through source code developed in open languages. Avoid the use of central controllers that configure several systems simultaneously, and build awareness of configurations  spanning multiple systems within each of those systems individually.<br /><br />The [Few Skilled Gardeners](few-skilled-gardeners.html) and [Three Product Champions](three-product-champions.html) collectively decide what to make configurable in a system, avoiding excessive configuration whenever possible. The configurability of a product is altered throughout its [Ringed Growth](ringed-growth.html)');
            </script>
                </div>
              
                
              
        </div>
    </article>

    <!-- Footer -->
{{>footer}}