 <!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Connecting Life</h4>
                        <h1>Introduction</h1>
                        <hr>
                        <img src="images/introduction-featured.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="content1"></div>
                    <script>
                        document.getElementById('content1').innerHTML = marked('Incorporating changes in our individual lifestyle is difficult, whether it is learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult. It isn’t a single solution applied by a single individual that changes a large and complex enterprise, but several solutions applied simultaneously and coherently by several individuals. Given that products unify an enterprise — in that individuals collectively design, produce, sell, support, operate, and decommission them — we offer a set of solutions to transform enterprises on the basis of products. Pattern languages, which were originally conceived by Christopher Alexander as a means of describing effective practices within architecture, can be used to represent the knowledge required for product lifecycle management across a large enterprise. We do this by understanding the prevalent forces in the enterprise and finding positive solutions or patterns that are able to balance these forces.');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="content2"></div>
                    <script>
                        document.getElementById('content2').innerHTML = marked('###TELECOM COMPLEXITY\nTelecom operators are confronting business challenges that require deep changes within their people, systems, and organizations. With device manufacturers such as Apple, Google, and Samsung increasingly providing their own communications services, telecom operators are facing declining revenues from their staple offerings of voice, data, and messaging. The emergence of highspeed mobile Internet coupled with devices that offer users greater possibilities in service selection and consumption requires telecom operators to build on their existing strengths while capitalizing on new opportunities. Products focused around voice, data, and messaging need to be transformed and merged with new services that revolve around the connected work and life of users. The omnipresence of Internet Protocol (IP)–based networks makes it easier to create high volumes of diverse multidevice products, which will increase the complexity in the conception, implementation, operation, and retirement of products. Current inefficiencies will be further amplified given the product volume and diversity, and new practices will need to emerge in order to manage this unprecedented scale of complexity. Each of these new practices will have to be applied with other practices, creating an interconnected network of practices. These practices can help telecom operators effectively transform from value chains to value networks. Telecom operators have traditionally tried to manage product lifecycle processes through individual and independent projects, using waterfall or agile management methods. Products realized in environments that use a waterfall methodology have distinct phases for product innovation, product feasibility assessment, product implementation, product operation, and product retirement. Matrix organizations are often constructed to complement these distinct phases, and particular responsibilities are assigned to each phase. Distinct organizational units within the matrix organization have clearly defined roles and responsibilities, each producing a specific aspect of the final product. A single department that translates all business needs into designs (or a single group that manages all the data in the enterprise) is an example of these distinct organizational units. Such structures are useful for producing products that have similar characteristics.\n\nHistorically, most commercial product offerings have had similar structures, making it possible to create relatively repeatable processes for their lifecycles. The focus of such organizational structures tends to be around product delivery rather than product retirement. These processes are analogous to the classic Ford Model T assembly line, in which each person in the assembly line had a defined role, received fixed inputs, and produced fixed outputs to achieve consistency. Figure 1 illustrates the treatment of product lifecycle processes in a waterfall method.');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-pull-8 col-md-offset-1">
                    <div id="margin1" class="patterns-notes"></div>
            <script>
              document.getElementById('margin1').innerHTML =
                marked('#&nbsp;\n<hr />*These market trends were predicted as early as 2006. See Peppard, Joe, and Anna Rylander. “From Value Chain to Value Network: Insights for Mobile Operators.” European Management Journal, Vol. 24, No. 2, 2006.*');
            </script> 
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content3"></div>
                    <script>
                        document.getElementById('content3').innerHTML = marked('<hr><img src="images/introduction.jpg" alt="Introduction" class="img-responsive" /><hr>');
                    </script>
            </div>
             <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-pull-8 col-md-offset-1">
                    <div id="margin2" class="patterns-notes"></div>
            <script>
              document.getElementById('margin2').innerHTML =
                marked('&nbsp;\n<hr />*Figure 1 — Phases in the lifecycle of a product within a waterfall methodology.*');
            </script> 
            </div>
                        <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                <div id="content4"></div>
                    <script>
                        document.getElementById('content4').innerHTML = marked('Products realized in agile environments follow more fluid and flexible phases, where each phase has a tendency to overlap with other phases. There is recognition that features that seem very important for a product at an early stage might seem less important at a subsequent stage. Through understanding the complexity of tasks to realize a product, development can be prioritized by tackling the most complex aspects of a product first. Documentation and service-level agreements are kept down to a minimum and replaced by incorporating suppliers and partners as extended members of the production system. Processes themselves are constantly being adapted in the face of changing situations by practitioners who continuously apply improvements in their methods of working, following principles like “5 whys is 1 how.” However, agile work environments are difficult to achieve in highly distributed teams within complex organizations. The inspiration for agile methodologies can be traced to the Toyota Production System as realized in the late 1970s, which introduced the Kaizen philosophy of production. Figure 2 illustrates the treatment of product lifecycle processes using agile methods.');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content5"></div>
                    <script>
                        document.getElementById('content5').innerHTML = marked('<hr><center><img src="images/introduction2.jpg" width="50%" alt="Introduction" class="img-responsive img-changeable-dimensions" /></center><hr>');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-pull-8 col-md-offset-1">
                    <div id="margin3" class="patterns-notes"></div>
            <script>
              document.getElementById('margin3').innerHTML =
                marked('&nbsp;\n<hr />*Figure 2 — Phases in the lifecycle of a product within an agile methodology.*');
            </script> 
            </div>
             <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content6"></div>
                    <script>
                        document.getElementById('content6').innerHTML = marked('Both waterfall and agile methods provide practices for structuring organizations for efficient product lifecycle management. There are other practices that can be applied to managing people, technological choices, organizational structures, organizational culture, and physical workspaces. These practices can be selectively applied in different combinations based on different situations and organizational cultures. The practices themselves can be classified based on their maturity. Best practices are typically established in situations where the correlation between cause and effect is obvious to all. Good practices require some analysis to establish a stable relationship between cause and effect. Finally, emergent practices typically come about when retrospective analysis is done on the correlation between cause and effect.\n\nA pattern language can be used to describe such practices, indicating best practices with three stars and good practices with two stars. (If we had featured any emerging practices, we would have assigned these one star.) We first give a synopsis of the scale of complexity telecom operators confront today in each phase of a product’s lifecycle. Next, we provide two examples from our pattern language, outlining the problem the pattern solves, the pattern’s solution, and the linkage of this individual pattern with all other patterns. By using a pattern language, these practices can be woven in myriad ways for different products within the same organization, and the unique challenges a particular telecom operator faces can be resolved using a unique implementation of these patterns.\n###DERIVING THE PATTERN LANGUAGE\nThe primary goal of developing a pattern language for telecom operators is to provide a flexible method for better dealing with the scale of complexity they confront in using new practices. The adoption of these new practices can require new organizational structures, changes in employee roles, the creation of new employee roles, and the gradual removal of existing practices. All these requirements for the adoption of new practices can be very difficult to achieve if the benefits of the change are not clear at every level of an organization. Patterns of change must be able to incorporate existing practices by absorbing their strengths and minimizing their weaknesses. Each pattern must be able to articulate the existing problems based on real situations individuals encounter, the solution for these problems, and the linkages of the pattern with other patterns.\n\nIn order to derive this pattern language, we have applied the <a href="http://embodiedmaking.org" target="_blank">Embodied Making</a> method. The process of design with embodied making is initiated by having conversations with people in the space where we want our designs to live. It starts by capturing stories, which are anecdotes as people relate them to us, and then faithfully recording them. We conducted around 120 interview sessions with people performing different roles in these organizations, ranging from customer service agents to product developers. All these individuals were involved in some capacity in the realization, operation, or retirement of products. From these interviews, we were then able to derive the prevalent forces from the processes of product lifecycle management. For instance, the following are some of the forces evident during the inception of a product:\n> Reluctance to discuss immature ideas<br />Fear that ideas will be underappreciated<br />Concern that competitors may copy ideas<br />Desire to obtain idea feedback from experts<br />Inability to identify expertsn<br />Tendency of experts to prefer giving direct and personal feedback<br />Tendency to forget about ideas after a while<br />Skepticism of unconventional or disruptive ideas<br />Tendency of commercially successful products to get more attention\n\nWe have thus far identified around 800 individual forces that are common in most Telecommunciations Operators. These forces did not manifest themselves in isolation but rather in combination with many of the other forces. For instance, one reason for the reluctance to discuss immature ideas is the fear that the ideas will be underappreciated. A solution for resolving these forces would be to create an environment where anyone can submit an idea anonymously. However, this solution conflicts with other forces, such as the desire to get credit for good ideas and the fear that others will get credit for ideas that are not their own.\n\nAnother solution that resolves these forces is to create a forum where individuals can choose to submit their ideas either openly or anonymously, with the option to reveal their identity at a later stage. However, anonymity doesn’t allow individuals to receive direct and personal feedback from experts, and it doesn’t resolve another force — the tendency for a single individual to have limited insight about all aspects of a product. A solution that does resolve these additional forces is to require that for any idea to be adopted, it must be championed by three individuals who collectively consider its commercial, operational, and technological aspects. This continuous process of assessing solutions eventually provides a set of stable solutions that work well together, and each of these solutions is then restructured into a pattern. Wherever possible, the patterns are named after a common theme, such as a garden or town. As new patterns emerge, existing patterns are reassessed and redesigned to reflect their individual and collective interaction with other patterns. Together the patterns provide an interwoven pattern language.');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content7"></div>
                    <script>
                        document.getElementById('content7').innerHTML = marked('###HOW TO READ PATTERNS\nThere is no sequence to reading the Pattern Language, and it is possible to arbitrarily select any Pattern within this collection and makes sense of it in terms of the problems and challenges proposes to solve (forces), the nature of the solution (pattern), and it’s relationship with all other patterns. By understanding these patterns, everyone in a Telco, and in some cases its Customers or Suppliers, should have an understanding how a set of patterns being applied in one space influences others.');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-pull-8 col-md-offset-1">
                    <div id="margin4" class="patterns-notes"></div>
            <script>
              document.getElementById('margin4').innerHTML =
                marked('#&nbsp;\n<hr />\nSITUATIONS TO APPLY THE PATTERN LANGUAGE\n\n*There are recurring situations in Telcos, such as the introduction of a new Product or the replacement of a legacy system, the patterns.*');
            </script> 
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content8"></div>
                    <script>
                        document.getElementById('content8').innerHTML = marked('<img src="images/introduction3.jpg" alt="Introduction" class="img-responsive" /><hr>');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content9"></div>
                    <script>
                        document.getElementById('content9').innerHTML = marked('Each pattern has a memorable name, and wherever possible, we have used names inspired by gardening or urban landscapes, The use of a common metaphor makes it easier to relate patterns in terms of each other, although we have struggled to give names using a single metaphor. Next, each pattern can have different scales of maturity, indicated by hexagons (&diams;). A single hexagon means that the pattern is experimental and practitioners should apply the pattern through cautious probing, retrospectively understand its consequences, and then apply in some measure again. Two hexagons imply that this pattern has been successfully applied a few times, but isn’t part of any existing practice. Three hexagons imply that the pattern is an existing emergent practice, and several thought leading organizations are currently attempting it. Four hexagons imply that pattern is stable practice, and has been attempted several times successfully. Five hexagons imply that the pattern is stable and should be considered the standard practice. The hexagons should not be used to understand the patterns in terms of risk, and where in the interests of risk aversion, only patterns with five hexagons are applied. The Pattern Language is most effective when applied collectively and cohesively. The hexagons exist for practitioners to understand the measure of reflection, both in the moment and retrospectively, required from each pattern.\n\nNext, the essence of the pattern is summarized in one or two sentences, giving those who want to skim the content or remember a previously read pattern the means to understand the pattern quickly. Next, the forces the pattern resolves are summarized. Forces influence how people experience a space, and are derived from applying Embodied Making. To quote the method:');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
            <div id="content10"></div>
                    <script>
                        document.getElementById('content10').innerHTML = marked('> *“Forces are inferred reasons for the occurrence of events substantiated by experience. They shape their environments to be the way they are. They give birth to experiences, such as the forces that make us book the holiday of our dreams at great expense, provide twists in the flow of an experience, such as the forces that choose a product to purchase from a variety of available products, sustain certain experiences over time, such as the forces that make us form orderly queues while waiting to be served, or bring an experience to an end to see the beginning of another, such as the motivations behind walking away before a performance has finished. Forces can be reflected in motivations, such as the desire to be compensated for providing a service. They can be statements of fact, such as the presence of a high population density. They could be hopes and anxieties, such as the desire not to lose our baggage while traveling or meeting a taxi driver who charges us fairly in an unfamiliar city. They can reflect dominant values, such as the desire for security or an aversion to feeling vulnerable. Some forces are rational, tangible, or measurable. These forces follow the logical structures of cause and effect, and their effect on the environments where they exist can be reasonably predictable. For instance, the repeated failure of a service over time will see falling demand for that service, and making a service extremely reliable comes at a great cost. These are incongruent forces that can be balanced with judging the right service level for the price customers of the service are willing to pay. Other forces are often irrational, intangible, or unmeasurable, such as personal beliefs and prejudices, but are extremely influential in determining the course of experiences and nature of the systems within which they reside. For instance, if the objective of the design process is to create an object to facilitate communications, and there exists a general cultural aversion to specific colors (“black is an unlucky color”) or shapes (“sharp edges are bad feng-shui”), then these are forces that will influence the form of the solution.”* Extracted with permission from EmbodiedMaking.org</i></small>\n\nNext, a solution that resolves and balances these forces are described. The solution may be a practice or it may be tangible entity. It is the intent of these solutions to create a positive collective impact for Telcos and their Customers. Forces may also be resolved in the favor of individuals but unfavorably for the collective, and these practices are known as anti-patterns. Our hope is to use these patterns to create positive working spaces within Telcos, and therefore we have avoided structuring any anti-patterns. Finally, the relationship of the pattern is established with other patterns in terms of how they should be practiced collectively, by inter-purposing in sentences.\n\nThis body of work is constantly evolving, and we are continuously adding new patterns to the language. Our view in writing these patterns is to accept their incompleteness, impermanence, and imperfection, and we publish them as they occur. We leave it to practitioners to judge whether they are in a form worthy of being practiced.');
                    </script>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-pull-8 col-md-offset-1">
                    <div id="margin5" class="patterns-notes"></div>
            <script>
              document.getElementById('margin5').innerHTML =
                marked('<hr />*We have often heard it said that leadership and managers in Corporates require everything summarized in powerpoint slides with no more than three bullet points. In our experience, most individuals in these positions occasionally read a novel or newspaper, and desire explanations that address brevity and clarity in a meaningful balance.*');
            </script> 
            </div>
            
        </div>
    </article>

    <!-- Footer -->
{{>footer}}