<section id="wrapper">


    <!-- sideb -->
    <div id="sideb-wrapper">

        <ul class="sideb-nav">
             <li>
                <a href="index.html">Back to home</a>
            </li>
            <li>
                <h4>Connecting life</h4>
            </li>
            <li class="focus">
                <a href="connecting-life-overview.html">Overview</a>
            </li>
            <li>
                <a href="connecting-life-contributors.html">Contributors</a>
            </li>
            <li>
                <a href="connecting-life-introduction.html">Introduction</a>
            </li>
             <li>
                <a href="connecting-life-patterns.html">Patterns</a>
            </li>
            <li>
                <a href="connecting-life-stories.html">Stories</a>
            </li>
            <li>
                <a href="#">Forces</a>
            </li>
            <li>
                <a href="#">Solutions</a>
            </li>
            <li>
                <a href="http://newtelco.embodiedmaking.com" target='_blank'>Contribute</a>
            </li>
        </ul>
    </div>
    <!-- /#sideb-wrapper -->

    <!-- Page Content -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="index.html" id="logo" class="sideb-nav" style="padding-top: 10px;">
                    <img src="images/logo.svg" width="60%">
                </a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Connecting life</h2>
        <p>Stories</p>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="col-xs-12 col-md-8">
            <div class="title-space-first">
                <a href="insight-in-purchase-value.html"><h3>Insight in purchase value</h3></a>
                <p>I feel that my bill is always too high. I am never really sure why I am being charged so much. </p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
            <div class="title-space">
                <a href="missing-appreciation.html"><h3>Missing Appreciation</h3></a>
                <p>I don’t feel that my provider appreciates me very much at the moment. My mobile telecom provider means nothing to me</p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
            <div class="title-space">
                <a href="empowerment.html"><h3>Empowerment</h3></a>
                <p>I don’t feel empowered by my provider to be able to select things that appeal to me and my changing preferences.</p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
            <div class="title-space">
                <a href="address-changes.html"><h3>Address changes</h3></a>
                <p>My address has recently changed, and I want to be able to change it quickly.</p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
            <div class="title-space">
                <a href="complexity.html"><h3>Complexity</h3></a>
                <p>I have too many passwords and 'my' environments to maintain. Each an every time I add an app or a product I need to reset the passwords I have forgotten.</p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
            <div class="title-space">
                <a href="all-they-want-is-my-money.html"><h3>All they want is my money</h3></a>
                <p>At the moment, all my provider seems to do is send me lots of invoices. They only seem to contact me to get more of my money.</p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
            <div class="title-space-bottom">
                <a href="stagnant-contract.html"><h3>Stagnant Contract</h3></a>
                <p>I hardly have any say in the kind of content I can get for my subscription. Once I’m into a contract, the type of content I get is stagnant.</p>
                <h5>By Pim Dieben in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </h5>
            </div>
        </div>
           
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <nav>
        <ul class="pager">
            <li><a href="connecting-life-introduction.html">Next: Introduction<span aria-hidden="true">&rarr; </span></a>
            </li>
        </ul>
    </nav>
</section>
<!-- /#wrapper -->

{{>footer}}