<section id="wrapper">


    <!-- sideb -->
    <div id="sideb-wrapper">

        <ul class="sideb-nav">
             <li>
                <a href="index.html">Back to home</a>
            </li>
            <li>
                <h4>Connecting life</h4>
            </li>
            <li class="focus">
                <a href="connecting-life-overview.html">Overview</a>
            </li>
            <li>
                <a href="connecting-life-contributors.html">Contributors</a>
            </li>
            <li>
                <a href="connecting-life-introduction.html">Introduction</a>
            </li>
             <li>
                <a href="connecting-life-patterns.html">Patterns</a>
            </li>
            <li>
                <a href="connecting-life-stories.html">Stories</a>
            </li>
            <li>
                <a href="connecting-life-forces.html">Forces</a>
            </li>
            <li>
                <a href="#">Solutions</a>
            </li>
            <li>
                <a href="http://newtelco.embodiedmaking.com" target='_blank'>Contribute</a>
            </li>
        </ul>
    </div>
    <!-- /#sideb-wrapper -->

    <!-- Page Content -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="index.html" id="logo" class="sideb-nav" style="padding-top: 10px;">
                    <img src="images/logo.svg" width="60%">
                </a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Connecting life</h2>
        <p>Overview</p>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <blockquote class="quote">
                <div class="list-group">
                    <h5>Content Overview</h5>

                     <a href="connecting-life-overview.html" class="list-group-item">Overview</a>
                    <a href="connecting-life-contributors.html" class="list-group-item">Contributors</a>
                    <a href="connecting-life-introduction.html" class="list-group-item">Introduction</a>
                    <a href="connecting-life-patterns.html" class="list-group-item">Patterns</a>
                    <a href="connecting-life-stories.html" class="list-group-item">Stories</a>
                    <a href="connecting-life-forces.html" class="list-group-item">Forces</a>
                    <a href="#" class="list-group-item">Solutions</a>
                </div>
            </blockquote>
           
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <nav>
        <ul class="pager">
            <li><a href="connecting-life-introduction.html">Next: Introduction<span aria-hidden="true">&rarr; </span></a>
            </li>
        </ul>
    </nav>
</section>
<!-- /#wrapper -->

{{>footer}}