<div class="row row-offcanvas row-offcanvas-left row-full-height active">
  <div class="sidebar-offcanvas" id="sidebar">
      <p id="logo-holder">
      <a href="index.html" id="logo" class="sidebar-nav">
        <img src="images/logo.svg">
      </a>
      <a href="index.html" id="logo-icon">
        <img src="images/logo-icon.svg">
      </a>
    </p>
    <ul class="list-unstyled">
      <li class="sidebar-nav">
        <a href="/index.html">
          Back to Home
        </a>
      </li>
      <li class="sidebar-nav">
        <h4>Content</h4> 
        <div class="sub-menu">
          <a href="connecting-life-overview.html">Overview</a>
          <a href="connecting-life-introduction.html">Introduction</a>
          <a href="connecting-life-patterns.html">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <h4>Contribute</h4>
        <div class="sub-menu">
          <a href="connecting-life-stories.html">Stories</a>
          <a href="connecting-life-forces.html">Forces</a>
          <a href="http://newtelco.embodiedmaking.com" target='_blank'>Contribute</a>
        </div>
      </li>
      
      <li class="sidebar-nav">
        <a href="http://product-foundry.com/#contact" target="_blank">
          <img src="http://product-foundry.com/images/f449a48f.logo.svg" alt="" width="20px" />Contact us</a>
      </li>
    </ul>
  </div>
    
  <!--/.sidebar-offcanvas-->
  <button id="offcanvas-initiator" type="button" data-toggle="offcanvas"></button>
  <section id="patterns" rel="Patterns" class="bg-light-gray">
    <div class="container">
      <div class="section-title sticky-title">
        <h1><span>Connecting Life</span>Stories</h1>
      </div>
      <div class="row sticky-title-controller">
       
          <div class="col-xs-12 col-md-8">
            <div class="title-space-first">
                <a href="insight-in-purchase-value.html"><h3>Insight in purchase value</h3></a>
                <p>I feel that my bill is always too high. I am never really sure why I am being charged so much. </p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
            <div class="title-space">
                <a href="missing-appreciation.html"><h3>Missing Appreciation</h3></a>
                <p>I don’t feel that my provider appreciates me very much at the moment. My mobile telecom provider means nothing to me</p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
            <div class="title-space-bottom">
                <a href="empowerment.html"><h3>Empowermente</h3></a>
                <p>I don’t feel empowered by my provider to be able to select things that appeal to me and my changing preferences.</p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
            <div class="title-space-bottom">
                <a href="address-changes.html"><h3>Address changes</h3></a>
                <p>My address has recently changed, and I want to be able to change it quickly.</p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
            <div class="title-space-bottom">
                <a href="complexity.html"><h3>Complexity</h3></a>
                <p>I have too many passwords and 'my' environments to maintain. Each an every time I add an app or a product I need to reset the passwords I have forgotten.</p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
            <div class="title-space-bottom">
                <a href="all-they-want-is-my-money.html"><h3>All they want is my money</h3></a>
                <p>At the moment, all my provider seems to do is send me lots of invoices. They only seem to contact me to get more of my money.</p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
            <div class="title-space-bottom">
                <a href="stagnant-contract.html"><h3>Stagnant Contract</h3></a>
                <p>I hardly have any say in the kind of content I can get for my subscription. Once I’m into a contract, the type of content I get is stagnant.</p>
                <em>By Indranil Bhattachary in <a href="http://newtelco.embodiedmaking.com/" target='_blank'>NewTelco</a>
                    </em>
            </div>
        </div>
      </div>
  </section>
</div>
<!--/row-->
{{>footer}}