<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Operations</div>
              <div class="intro-heading">Constant Circulation</div>
              <img src="images/maturity-3.svg" width="64px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/constant-circulation.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal11-content1">
            </div>
            <script>
              document.getElementById('patternsModal11-content1').innerHTML =
                marked('*Always have a few new products being introduced as a few products are being retired.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal11-content2"></div>
            <script>
              document.getElementById('patternsModal11-content2').innerHTML =
                marked('Given the virtual nature of telecommunications products, it becomes possible to easily release several variations of the same product with different pricing structures for customers to create product diversity. Consequently, most telecommunications operators tend to have large volume of products, regardless of whether products are counted on the basis of distinct types of commercial offerings or on the basis of underlying enabling technology. The boundaries and distinctions between products are often difficult to comprehend, whether they exist in commercial catalogs, information systems such as customer-relationship management systems, or in network elements like switches.  The introduction of new products becomes difficult due to the capacity constraints from operating existing products.<br /><br />Therefore create constant circulation where as a few products are being introduced, others are being removed. Maintain the configuration and implementation of individual products as distinctly as possible in order to reduce complexity in their removal. Avoid the merger of many products into a single product line  where the distinctions between products are lost, and maintain distinctions between high performing products and  poorly performing products.<br /><br />Have a Few Skilled Gardeners tend to products Planted in a Single Garden, while constantly Clearing Withering Products and introducing new products with Growth Supports that receive Shade From Others.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal11-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal11-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="configuration-inverse-to-its-complexity.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Configuration inverse to its Complexity</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="continuous-harvesting.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Continuous Harvesting</h3>
          <span>Operations</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}