<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A pattern language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Constant Circulation</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <hr>
                        <img src="images/patterns/constant-circulation.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal12-content1"></div>
            <script>
              document.getElementById('patternsModal12-content1').innerHTML =
                marked('*Always have a few new products being introduced as a few products are being retired.*<br /><br />Given the virtual nature of telecommunications products, it becomes possible to easily release several variations of the same product with different pricing structures for customers to create product diversity. Consequently, most telecommunications operators tend to have large volume of products, regardless of whether products are counted on the basis of distinct types of commercial offerings or on the basis of underlying enabling technology. The boundaries and distinctions between products are often difficult to comprehend, whether they exist in commercial catalogs, information systems such as customer-relationship management systems, or in network elements like switches.  The introduction of new products becomes difficult due to the capacity constraints from operating existing products.<br /><br />Therefore create constant circulation where as a few products are being introduced, others are being removed. Maintain the configuration and implementation of individual products as distinctly as possible in order to reduce complexity in their removal. Avoid the merger of many products into a single product line  where the distinctions between products are lost, and maintain distinctions between high performing products and  poorly performing products.<br /><br />Have a [Few Skilled Gardeners](few-skilled-gardeners.html) tend to products [Planted in a Single Garden](Plant-in-a-single-garden.html), while constantly [Clearing Withering Products](clear-withering-products.html) and introducing new products with [Growth Supports](growth-supports.html) that receive [Shade From Others](shade-from-others.html).');
            </script>
                </div>
              
                
              
        </div>
    </article>

    <!-- Footer -->
{{>footer}}