<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Market Strategy</div>
              <div class="intro-heading">Customers of Customers</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/customers-of-customers.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal14-content1">
            </div>
            <script>
              document.getElementById('patternsModal14-content1').innerHTML =
                marked('*Customers are able to provide products either of their own creation or created by others to other customers.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal14-content2"></div>
            <script>
              document.getElementById('patternsModal14-content2').innerHTML =
                marked('Telco products today enjoy an unprecedented amount of influence in the lives of people. Customers are able to keep in close touch with their social and professional networks throughout the course of the day using a variety of devices and communication applications of their own choice. Combinations of devices, tools, and applications that seem to work well soon emerge as communication memes shared by individuals with common interests, practices, and purpose. The more technology savvy individuals usually champion and support their memes to others in their social and professional networks for little or no reward other than social recognition and their reputations. The more enterprising individuals may publish reviews for advertising revenue, but are usually unable to capitalize their knowledge and expertise beyond those boundaries. Telcos today establish their relationship with customers within firmly segmented sales channels either by themselves or by using 3rd parties like dealers. Due to non-exclusivity, most dealers sell products from multiple operators who tend to give them sales targets. In these cases, the dealer’s focus can shift from trying to find the optimal fit for a customer to fulfilling the optimal balance of sales targets to maximise their revenue. Rather than becoming value-added resellers, dealers primarily trying to optimise their sales tend commoditise Telco offerings. Telcos are also increasingly playing a transparent role in Over-the-Top, Internet-of-Things, Virtual network operator, and Machine-to-Machine solutions, where they provide infrastructure services with little or no visibility to customers. As a result, customers are increasingly unlikely to engage in meaningful conversations with a Telco other than the moments of acquisition, departure, or reporting service issues. Unable to differentiate and sustain passionate customers or cope with the diversity of their needs, the prevalent sales, marketing, and operational processes of Telcos are systematically making themselves into a commodity.<br /><br />Therefore offer the most passionate and knowledgeable customers the ability to offer Telco products as virtual operators to others in their community through tiered programs. Customers can distinguish themselves as brand ambassadors by participating in knowledge forums accessible by other customers and support staff, referral programs where new customers provide the identity of the individual that encouraged them to join the Telco, and engaging in open community events chaired by the Telco. By initially permitting them to offer products to small circles they can expand gradually, such as their friends and family, customers are encouraged to become resellers using the Telco’s brand. Customers who have been operating as resellers for a suitable period, and have a track record of being able to grow and sustain their networks, can become virtual operators with their own branding. Permit these customers operating as virtual operators the ability to offer unique products built on the Telco’s infrastructure. The Telco should nurture individuals with technical finesse who can extend and develop products on this infrastructure, and permit these individuals to provide services to all resellers. The Telco should also nurture a coalition of diverse industry partners, such as food and logistics providers, who can complement the infrastructure of a Telco with infrastructure of their own.<br /><br />Understand the patterns of how Customers Create their Own, and encourage customers to share or offer their personal creations to others. Develop customers as partners by inviting them selectively into the Fortified Town as the Participating Demographic and working with the Three Product Champions. Give opportunities to the more competent customers so Everyone Cares and make their Assists Visible. Using our Own Base Currency, Nurture Keystones amongst Customers to sustain their Ringed growth. Position the most capable customers as Trusted Advisors, and incorporate them into the Rhythmic Sensemaking Spaces. Create and sustain a Infrastructure Coalition where customers can provide their products using the infrastructure of other industries such as food, logistics, entertainment, healthcare, public transport, urban environments, and travel.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal14-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal14-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="customers-create-their-own.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Customers Create their Own</h3>
          <span>Operationsior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="decide-by-matching.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Decide by Matching</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}