<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4 class="chapter-title">Story</h4>
                        <h1>Customer Service in a Telecommunications Company</h1>
                        <hr>
                        <img src="images/stories/customer-service-in-a-telecommunications-company.jpg" width="100%" alt="...">
                        <span class="meta">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal1-content1"></div>
            <script>
              document.getElementById('patternsModal1-content1').innerHTML =
                marked('\nI work as a call center agent within the customer service department of a large telecommunications operator. I have a temporary contract and I have been placed here by an employment agency that placed most of my colleagues here too. I am a part-time student, and I work here 20 hours a week, and I don&rsquo;t really see this as a long term career. Most of us are on minimum wage, and most of my colleagues leave after 3 to 6 months. It&rsquo;s a pity, because it&rsquo;s only after a few months that we&rsquo;re really picking up the knowledge that we need in order to do our job effectively. For example, a few days ago, a new product was launched which combined internet access through fiber, a fixed-line telephone, television, and a mobile subscription. I think this type of product is called triple-play although the product itself is called All4U. I actually only learned about the launch of this product because I started getting phone calls from customers who had problems accessing the internet using their mobile phones. In all of these cases, they were existing customers who already had a fixed-line, internet, and tv before, and had added a new mobile subscription to the pack. As I didn&rsquo;t know what the problem was, I’ve raised tickets for all of these issues which will be forwarded to the technology department. They usually come back to us within a day if we mark it as high priority. I know one of the problem managers, and he&rsquo;s usually quite efficient at picking up these issues and coming back to us with solutions. Most often it&rsquo;s not a real solution, but something more like telling customers how not to create the issue. If it is a fault in how the product is made, I&lsquo;ve heard it can take many months to really fix it because it&rsquo;s very complex to solve things in the system. I get a smoking break every 2 hours, which I really look forward to because it gives me a chance to get out of my cubicle. I know a few of the technology guys who are smokers like me, and I usually look forward to catching one of them during one of my smoking breaks to ask them about issues like the All4U problems and they usually explain what&rsquo;s really going on. Sometimes it seems that the problems aren&rsquo;t hard to solve, but because they are already working on a different project, the issues with products that are already launched aren&rsquo;t the most important issue. Because all of us smoke outside the building, we all mingle with each other and the frequent smokers know each other well. It&rsquo;s a bit different in the canteen, because people from the same departments and teams within departments sit together. One of the customer service team leads recently moved to operational support, and now they sit at a different table during lunch with the other team. It&rsquo;s a bit strange meeting my old colleague at lunch, because other than a smile or a nod, it almost seems that we don&rsquo;t know each other.');
            </script>
                </div>
                                   
        </div>
    </article>

    <!-- Footer -->
{{>footer}}