<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Events Everywhere</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <hr>
                        <img src="images/patterns/events-everywhere.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal18-content1"></div>
            <script>
              document.getElementById('patternsModal18-content1').innerHTML =
                marked('*Product instances produce immutable events to reflect things that have occurred at a certain place during a particular interval of time.*<br /><br />The Telecommunications industry has perhaps understood the role of Events in their architecture better than any other industry. Call Detail Records (CDRs), which are created by network elements after a telecommunications service has been utilized, have been used to record network usage for several decades. Historically, CDRs have been used to interface between Operations Support Systems (OSS) and Business Support Systems (BSS). OSS processes usually address concerns around operating the network itself, such as managing network inventories, network components (e.g. switches), and network faults. BSS processes usually address concerns around supporting customers and commercial offerings, obtaining and processing orders, processing bills, and collecting payments. OSS systems have historically been engineered to be highly distributed and fault tolerant, soft-real-time, operate non-stop, and support hot-swapping, where the system’s behaviour can be changed (within limits) without stopping the system. BSS systems have historically utilized a client-server architecture utilizing transactional storage, typically with relational databases. Given the differences in the paradigms used by OSS and BSS applications, it has been historically important to create a stable and fixed data interchange format within CDRs to reflect call activity. However, people are now doing a lot more than making calls, and network systems need to be capable of capturing a wide variety of events, and BSS applications need to be able process these events. The use of normalized data models, where data is separated and categorized based on its intention or behaviour, and strongly-typed data models, where distinct data exists for each specialized purpose, will result in an extremely high scale of complexity to the point of being unsustainable.<br /><br />Therefore the usage of any product should result in the creation of an event. Events should be created using de-normalized data models, where data is mostly unstructured with data elements possessing self-contained descriptors, and as weakly typed as possible, to the extent where all Events use the same object definition and contain a de-normalized data payload. The emergence of Software-Defined Networks, where network applications are built by software programs, further blur the historical distinction between BSS and OSS applications. Each application can consume Events, and create their own meaning around the Event. Events are stored in a single environment, and business intelligence and analytics can also be performed directly these events.<br /><br />[Many products co-exist](many-products-co-exist.html), and their [Aware Instances](aware-instances.html) produce events that can be consumed by a wide variety of applications.');
            </script>
                </div>
 
        </div>
    </article>

    <!-- Footer -->
{{>footer}}