<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Organization Structure</div>
              <div class="intro-heading">Few Skilled Gardeners</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/few-skilled-gardeners_1.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal22-content1">
            </div>
            <script>
              document.getElementById('patternsModal22-content1').innerHTML =
                marked('*Have a few good gardeners to tend to products throughout their lifecycle.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal22-content2"></div>
            <script>
              document.getElementById('patternsModal22-content2').innerHTML =
                marked('Given that products are usually launched through projects, and that projects to realize products are primarily focused on their launch, products tend to be fall to the wayside as the spotlight moves to the next product launch. The most talented individuals in the organization are allocated to the next big product launch rather than making the products of the last big product launch more efficient or being involved in the removal of inefficient products. Establishing product ownership in large organizations where each department has a different focus for the product tends to be difficult. This leads to products not realizing their true potential once launched, and a proliferation of products with marginal contributions to the organization’s profitability. If Product Managers are solely responsible for administering launched products across departments, their perceived value is from the number of products they administer, rather than how actively they contribute to the profitability of the company.<br /><br />Therefore selectively assign a few talented individuals as Product Managers, and establish this role as one of the most prestigious and well-compensated knowledge roles. Individuals that have strong communication skills, good market knowledge, strong technical knowledge, and operational experience are good candidates for this role. These individuals must also possess a strong network within the organization, with an understanding of how to get things done efficiently. Engage these individuals in actively realizing one or two products, operating three to five products, and retiring one to two products in large organizations simultaneously. In smaller organizations, there is greater capacity to realize, operate, and retire products given that there is less communications required for each of these activities. For the products being operated, give each Product Manager a few products that have low profitability but have great potential, a few stable and profitable products, and a few products with seemingly no hope of improving profitability. Periodically the Product Managers should exchange their most stable products with other Product Managers, which could be as often as 6 months in smaller organizations, and annually in larger organizations. The most successful product managers should be established as knowledge mentors for other product managers, and earmarked for leadership roles in the organization.<br /><br />The [Three Product Champions](three-product-champions.html), who understand the commercial, operational, and technological aspects of the product, and the [Participating Demographic](participating-demographic.html), who are representative of the customers who would use the product, work with a select few Product Managers to [Continuously Harvest](continuous-harvesting.html), [Constantly Circulate](constant-circulation.html), and [Clear Withering Products](clear-withering-products.html). Product Managers engage in the realization of products by adequately planning their [Ringed Growth](ringed-growth.html), ensure that newly launched products receive [Shade from Others](shade-from-others.html) and [Growth Supports](growth-supports.html) within [Themed Areas](themed-areas.html), constantly [Pruning Products](pruning-products.html) in their operational portfolio, establish key criteria for the product’s adoption with [Product Markers](product-markers.html), and ensure that Products don’t grow [Deep Roots](deep-roots.html). When [Exotic Plants](exotic-plants.html) must be [Planted in the Single Garden](plant-in-a-single-garden.html), it is entrusted to one of these select few individuals. Their products can be [Changeable by Many])changeable-by-many.html) by themselves and any of the [Three Product Champions](three-product-champions.html), giving them [Signature Aromas](signature-aromas.html) that highlight the product’s salient traits, to spread adoption and knowledge across the [Low-Walled Town Communities](low-walled-town-communities.html) and beyond the [Fortified Town](fortified-town.html) in controlled circumstances with selected partners. They frequently visit the [Town Well](town-well.html) to speak to others in the organization, and create a culture of [Specifying to Operationalize](specify-to-operationalize.html), which requires that the documentation around the product is just enough to make it operational. When products don’t work well, they place them in [Temporary Splints](temporary-splints.html) until they do. They concept new ideas within [Trusted Advisor](trusted-advisor.html) using [Living Prototypes](living-prototypes.html) and [Living Data Everywhere](living-data-everywhere.html), and create initiatives where the [Whole Town Participates](whole-town-participates.html).');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal22-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal22-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="exotic-plants.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Exotic Plants</h3>
          <span>Operations</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="flower-shows.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Flower Shows</h3>
          
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}