<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Organization Structure</div>
              <div class="intro-heading">Fortified Town</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/fortified-town.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal24-content1">
            </div>
            <script>
              document.getElementById('patternsModal24-content1').innerHTML =
                marked('*Competitive differentiators need to be protected. Market access to customers and suppliers through open and supervised gates.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal24-content2"></div>
            <script>
              document.getElementById('patternsModal24-content2').innerHTML =
                marked('Telecommunications companies increasingly operate under intense competition with similar or comparable products. Early mover advantage, spectrum ownership, and network coverage are examples of areas where this intense competition exists. Knowledge of new products and ideas, if are leaked to the competition, would mean the loss of an early mover advantage. At the same time, telecommunications operators also have to collaborate with competitors on national policies, such as number porting, international policies, such as roaming, and industry standards, such as data exchange standards. They also tend to use common vendors and suppliers.<br /><br />Therefore protect new product ideas and competitive advantages through a secure communication environment. Products that differentiate an operator from the competition should be developed internally, and products that are commoditized should be procured from common vendors. Emphasize the importance of secure communications with all employees who engage with competitors in their collaborative roles for policies and standards. In areas where resources are shared between competitors, such as shared number porting repositories or the implementation of inter-network traffic, work with each other to establish best practices. Engage with common vendors in competitive areas with caution, and ensure that vendors maintain firm segregations between customers. In areas of collaboration with competitors, engage with common vendors on the basis of best practices established through open communications. Establish and engage in communities of non-competitive telecommunications operators to exchange best practices.<br /><br />Establish a secure environment within the organization, and regulate market access to customers and suppliers through supervised gates. Maintain [Low-Walled Town Communities](low-walled-town-communities.html) and establish [Trusted Advisor](trusted-advisor.html) within this organization. Use initiatives where the [Whole Town Participates](whole-town-participates.html) to explain the importance of confidential information and keeping customer data secure at the [Town Well](town-well.html).');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal24-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal24-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="flower-shows.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Flower Shows</h3>
          
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="growth-supports.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Growth Supports</h3>
          <span>Operations</span>
          
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}