
<section id="wrapper">


        <!-- sideb -->
        <div id="sideb-wrapper">
            
            <ul class="sideb-nav">
                <li class="sideb-brand">
                      <a href="index.html" id="logo" class="sideb-nav">
                        <img src="images/logo.svg" width="75%">
                      </a>
                </li>
                <li>
                <h4>Patterndeck Design</h4>
                </li>
                <li class="focus">
                    <a href="guidelines-overview.html">Overview</a>
                </li>
                <li>
                    <a href="guidelines-introduction.html">Introduction</a>
                </li>
                <li>
                    <a href="guidelines-stories.html">Stories</a>
                </li>
                <li>
                    <a href="guidelines-forces.html">Forces</a>
                </li>
                <li>
                <h4>Considerations</h4>
                </li>
                <li>
                    <a href="#">Strategic</a>
                </li>
                <li>
                    <a href="#">Design</a>
                </li>
                <li>
                    <a href="#">Implementation</a>
                </li>
            </ul>
        </div>
        <!-- /#sideb-wrapper -->

        <!-- Page Content -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <a href="#menu-toggle" id="menu-toggle">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</nav>            
        <div class="jumbotron">
                      <h2>Patterndeck Design Guidelines</h2>
                              <p>Content Overview</p>
            </div>

                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <blockquote class="quote">
                                <div class="list-group">
                                  <h5>Content Overview</h5>

                                  <a href="guidelines-introduction.html" class="list-group-item">Introduction</a>
                                  <a href="guidelines-introduction.html" class="list-group-item">Stories</a>
                                  <a href="guidelines-forces.html" class="list-group-item">Forces</a>
                                </div>
                            </blockquote> 
                            <blockquote class="quote">
                                <div class="list-group">
                                  <h5>Considerations</h5>
                                      </a>
                                      <a href="#" class="list-group-item">Strategic</a>
                                      <a href="#" class="list-group-item">Design</a>
                                      <a href="#" class="list-group-item">Implementation</a>
                                </div>
                            </blockquote>
                        </div>
                </div>
        <!-- /#page-content-wrapper -->
                <nav>
                  <ul class="pager">
                    <li><a href="guidelines-introduction.html">Next: Introduction<span aria-hidden="true">&rarr; </span></a></li>
                  </ul>
                </nav>
    </section>
    <!-- /#wrapper -->

{{>footer}}
    
    