
<section id="wrapper">


        <!-- sideb -->
        <div id="sideb-wrapper">
            
            <ul class="sideb-nav">
                <li class="sideb-brand">
                      <a href="index.html" id="logo" class="sideb-nav">
                        <img src="images/logo.svg" width="75%">
                      </a>
                </li>
                <li>
                <h4>Patterndeck Design</h4>
                </li>
                <li>
                    <a href="guidelines-overview.html">Overview</a>
                </li>
                <li>
                    <a href="guidelines-introduction.html">Introduction</a>
                </li>
                <li>
                    <a href="guidelines-stories.html">Stories</a>
                </li>
                <li>
                    <a href="guidelines-forces.html">Forces</a>
                </li>
                <li>
                <h4>Considerations</h4>
                </li>
                <li>
                    <a href="#">Strategic</a>
                </li>
                <li>
                    <a href="#">Design</a>
                </li>
                <li>
                    <a href="#">Implementation</a>
                </li>
            </ul>
        </div>
        <!-- /#sideb-wrapper -->

        <!-- Page Content -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <a href="#menu-toggle" id="menu-toggle">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</nav>            
        <div class="jumbotron">
                      <h2>Stories</h2>
                              <p>Overview of all stories</p>
            </div>

                <div id="page-content-wrapper">
                    <div class="container-fluid">
                            <div id="introduction">
                            <hr>
                                <blockquote class="quote">                                              <a href="story-the-librarian.html"><h3>The librarian
                                    </h3></a>
                                    <p>The form of a physical library has evolved over 2000 years, and yet in the 20 years of the internet, we seem to have forgotten all about the beauty of structuring knowledge as a journey.</p>           
                                           <p class="source"><span class="name">By </span><span class="title">Indranil Bhattacharya</span></p>                                              </blockquote> 
                                <blockquote class="quote">                                              <h3>We love lists
                                    </h3>
                                    <p>There’s no point in fighting human nature. We love lists. We don’t want to labour through miles of text to get the point. </p>           
                                    <p class="source"><span class="name">By </span><span class="title">Indranil Bhattacharya</span></p>                                              </blockquote> 
                            </div>
                        </div>
                </div>
        <!-- /#page-content-wrapper -->
                <nav>
                  <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </nav>
    </section>
    <!-- /#wrapper -->

{{>footer}}
    
    