<section id="wrapper">


    <!-- sideb -->
    <div id="sideb-wrapper">

        <ul class="sideb-nav">
            <li class="sideb-brand">
                <a href="index.html" id="logo" class="sideb-nav">
                    <img src="images/logo.svg" width="75%">
                </a>
            </li>
            <li>
                <h4>Patterndeck Design</h4>
            </li>
            <li>
                <a href="guidelines-overview.html">Overview</a>
            </li>
            <li>
                <a href="guidelines-introduction.html">Introduction</a>
            </li>
            <li>
                <a href="guidelines-stories.html">Stories</a>
            </li>
            <li>
                <a href="guidelines-forces.html">Forces</a>
            </li>
            <li>
                <h4>Considerations</h4>
            </li>
            <li>
                <a href="#">Strategic</a>
            </li>
            <li>
                <a href="#">Design</a>
            </li>
            <li>
                <a href="#">Implementation</a>
            </li>
        </ul>
    </div>
    <!-- /#sideb-wrapper -->

    <!-- Page Content -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"  href="#menu-toggle" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Introduction</h2>
        <p>Patterndeck Design Guidelines</p>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <hr>
            <h2>A guide to Patterndeck</h2>
            <div class="content col-md-12 col-lg-8">
                <div class="item">
                    <p>We believe our businesses are in need of profound change. This change is difficult, the way giving up a habit is difficult. Change requires developing, understanding, and embracing new and unfamiliar solutions. We cannot always understand these new solutions in terms of our existing solutions. And each solution must be practiced in terms of other solutions in our extended organizations. We organize our solutions as patterns, where each pattern explains what it is trying to solve, how they propose to solve it, and their interconnection with other patterns. Together, we create New Business.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <nav>
        <ul class="pager">
            <li><a href="guidelines-overview.html"><span aria-hidden="true">&larr; </span>Previous: Overview</a>
            </li>
            <li><a href="guidelines-stories.html">Next: Stories<span aria-hidden="true">&rarr; </span></a>
            </li>
        </ul>
    </nav>
</section>
<!-- /#wrapper -->

{{>footer}}