<section id="wrapper">


    <!-- sideb -->
    <div id="sideb-wrapper">

        <ul class="sideb-nav">
            <li class="sideb-brand">
                <a href="index.html" id="logo" class="sideb-nav">
                    <img src="images/logo.svg" width="75%">
                </a>
            </li>
            <li>
                <h4>Patterndeck Design</h4>
            </li>
            <li>
                <a href="guidelines-overview.html">Overview</a>
            </li>
            <li>
                <a href="guidelines-introduction.html">Introduction</a>
            </li>
            <li>
                <a href="guidelines-stories.html">Stories</a>
            </li>
            <li>
                <a href="guidelines-forces.html">Forces</a>
            </li>
            <li>
                <h4>Considerations</h4>
            </li>
            <li>
                <a href="#">Strategic</a>
            </li>
            <li>
                <a href="#">Design</a>
            </li>
            <li>
                <a href="#">Implementation</a>
            </li>
        </ul>
    </div>
    <!-- /#sideb-wrapper -->

    <!-- Page Content -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" <a href="#menu-toggle" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h2>Forces</h2>
        <p>May the force be with you</p>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="col-md-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Forces group placeholder name</div>
                    <ul class="list-group">
                        <li class="list-group-item">Finite ~ Physical libraries have finite space.</li>
                        <li class="list-group-item">Organize information ~ Physical libraries need to organize a lot of information.</li>
                        <li class="list-group-item">Efficiently organised ~ Physical libraries tend to be efficiently organized.</li>
                        <li class="list-group-item">Good libraries ~ Good libraries have great librarians.</li>
                        <li class="list-group-item">Passionate ~Not all librarians are passionate about books.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Other Forces group placeholder name</div>
                    <ul class="list-group">
                        <li class="list-group-item">Organizers ~ Some librarians are more organizers than readers.</li>
                        <li class="list-group-item">Disorganized ~ The Internet is one big disorganized library.</li>
                        <li class="list-group-item">Organize disorganization ~ Search engines organize disorganization.</li>
                        <li class="list-group-item">Cope with disorganized ~ Disorganization we can cope with remains disorganized.</li>
                        <li class="list-group-item">Human indexes ~ Most librarians are human indexes.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Other Forces group placeholder name</div>
                    <ul class="list-group">
                        <li class="list-group-item">Organizers ~ Some librarians are more organizers than readers.</li>
                        <li class="list-group-item">Disorganized ~ The Internet is one big disorganized library.</li>
                        <li class="list-group-item">Organize disorganization ~ Search engines organize disorganization.</li>
                        <li class="list-group-item">Cope with disorganized ~ Disorganization we can cope with remains disorganized.</li>
                        <li class="list-group-item">Human indexes ~ Most librarians are human indexes.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <nav>
        <ul class="pager">
            <li><a href="guidelines-stories.html"><span aria-hidden="true">&larr; </span>Previous: Stories</a>
            </li>
            <li><a href="guidelines-strategic.html">Next: Strategic Considerations<span aria-hidden="true">&rarr; </span></a>
            </li>
        </ul>
    </nav>
</section>
<!-- /#wrapper -->

{{>footer}}