<div class="row row-offcanvas row-offcanvas-left row-full-height">

  <div class="sidebar-offcanvas" id="sidebar">
    <p id="logo-holder"><a href="#" id="logo" class="sidebar-nav"><img src="images/logo.svg"></a><a href="#" id="logo-icon"><img src="images/logo-icon.svg"></a></p>
    <ul class="list-unstyled">
      <li class="sidebar-nav"><a href="#" data-jump-to="introduction" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/1" alt="" /> About Patterndeck</a></li>
      <li class="sidebar-nav"><a href="#" data-jump-to="connecting-life" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/2" alt="" /> Connecting Life</a></li>
      <li class="sidebar-nav"><a href="#" data-jump-to="smart-workspaces" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/3" alt="" /> Smart Workspaces</a></li>
      <li class="sidebar-nav"><a href="#" data-jump-to="new-healthcare" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/4" alt="" /> New Healthcare</a></li>
      <li class="sidebar-nav"><a href="#" data-jump-to="new-retail" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/5" alt="" /> New Retail</a></li>
      <li class="sidebar-nav"><a href="#" data-jump-to="new-banking" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/6" alt="" /> New Banking</a></li>
      <li class="sidebar-nav"><a href="#" data-jump-to="rites-of-passage" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/7" alt="" /> Rites of Passage</a></li>
    </ul>
  </div>
  <!--/.sidebar-offcanvas-->


    <button id="offcanvas-initiator" type="button" data-toggle="offcanvas"></button>



      <div id="mixedContent">
        <div id="introduction" class="contentBox">
          <div class="image-container">
            <img src="images/connecting-life.jpg" />
            <h2>About Patterndeck</h2>
          </div>
          <div class="content-container">
            <h4>Introduction</h4>
            <p>Incorporating changes in our individual lifestyle is difficult, whether it is learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult. It isn’t a single solution applied by a single individual that changes a large and complex enterprise, but several solutions applied simultaneously and coherently by several individuals. Given that products unify an enterprise — in that individuals collectively design, produce, sell, support, operate, and decommission them — we offer a set of solutions to transform enterprises on the basis of products. Pattern languages, which were originally conceived by Christopher Alexander as a means of describing effective practices within architecture, can be used to represent the knowledge required for product lifecycle management across a large enterprise. We do this by understanding the prevalent forces in the enterprise and finding positive solutions or patterns that are able to balance these forces.</p>
            <p class="text-center">
              <a class="btn btn-custom" href="introduction.html">Read more</a>
            </p>
          </div>
        </div>

        <div id="connecting-life" class="contentBox">
          <div class="image-container">
            <img src="images/connecting-life.jpg" />
            <h2>Connecting Life</h2>
          </div>
          <div class="content-container">
            <h4>Connecting Life</h4>
            <p>Incorporating changes in our individual lifestyle is difficult, whether it be learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
            <hr />
            <h4>Latest updates</h4>
            <p>Updated Adapting with life pattern</p>
            <hr />
            <h4>Latest comments</h4>
            <h5>Jenny</h5>
            <p>A few thoughts that popped up as I read: This all started with Clever Digs so I’m wondering how I might assist you. I haven’t been paying much attention to the playing field of Telecoms/Google/Apple/Android so, without doing some...</p>
          </div>
        </div>
        
        <div id="smart-workspaces" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-1.jpg" />
            <h2>Smart Workspaces</h2>
          </div>
          <div class="content-container">
            <h4>Smart Workspaces</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis malesuada neque, eget porttitor felis. Nullam aliquam nulla sit amet convallis luctus. Praesent molestie rhoncus orci, ut euismod justo venenatis id. Vestibulum vel velit tortor. Nulla eu sollicitudin tortor. Phasellus mattis, tortor id rutrum consequat, nibh enim laoreet turpis, et eleifend mauris turpis non nunc. Phasellus erat nisi, dapibus eget blandit non, luctus non nunc. Suspendisse potenti. Etiam at eros vitae diam tempor rutrum. Donec mollis vitae lacus at rutrum. Vestibulum elementum dui consequat, facilisis ipsum id, ullamcorper enim.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
          </div>
        </div>

        <div id="new-healthcare" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-2.jpg" />
            <h2>New Healthcare</h2>
          </div>
          <div class="content-container">
            <h4>New Healthcare</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis malesuada neque, eget porttitor felis. Nullam aliquam nulla sit amet convallis luctus. Praesent molestie rhoncus orci, ut euismod justo venenatis id. Vestibulum vel velit tortor. Nulla eu sollicitudin tortor. Phasellus mattis, tortor id rutrum consequat, nibh enim laoreet turpis, et eleifend mauris turpis non nunc. Phasellus erat nisi, dapibus eget blandit non, luctus non nunc. Suspendisse potenti. Etiam at eros vitae diam tempor rutrum. Donec mollis vitae lacus at rutrum. Vestibulum elementum dui consequat, facilisis ipsum id, ullamcorper enim.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
          </div>
        </div>
        
        <div id="new-retail" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-1.jpg" />
            <h2>New Retail</h2>
          </div>
          <div class="content-container">
            <h4>New Retail</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis malesuada neque, eget porttitor felis. Nullam aliquam nulla sit amet convallis luctus. Praesent molestie rhoncus orci, ut euismod justo venenatis id. Vestibulum vel velit tortor. Nulla eu sollicitudin tortor. Phasellus mattis, tortor id rutrum consequat, nibh enim laoreet turpis, et eleifend mauris turpis non nunc. Phasellus erat nisi, dapibus eget blandit non, luctus non nunc. Suspendisse potenti. Etiam at eros vitae diam tempor rutrum. Donec mollis vitae lacus at rutrum. Vestibulum elementum dui consequat, facilisis ipsum id, ullamcorper enim.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
          </div>
        </div>
        
        <div id="new-banking" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-2.jpg" />
            <h2>New Banking</h2>
          </div>
          <div class="content-container">
            <h4>New Banking</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis malesuada neque, eget porttitor felis. Nullam aliquam nulla sit amet convallis luctus. Praesent molestie rhoncus orci, ut euismod justo venenatis id. Vestibulum vel velit tortor. Nulla eu sollicitudin tortor. Phasellus mattis, tortor id rutrum consequat, nibh enim laoreet turpis, et eleifend mauris turpis non nunc. Phasellus erat nisi, dapibus eget blandit non, luctus non nunc. Suspendisse potenti. Etiam at eros vitae diam tempor rutrum. Donec mollis vitae lacus at rutrum. Vestibulum elementum dui consequat, facilisis ipsum id, ullamcorper enim.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
          </div>
        </div>
        
        <div id="rites-of-passage" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-1.jpg" />
            <h2>Rites of Passage</h2>
          </div>
          <div class="content-container">
            <h4>Rites of Passage</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis malesuada neque, eget porttitor felis. Nullam aliquam nulla sit amet convallis luctus. Praesent molestie rhoncus orci, ut euismod justo venenatis id. Vestibulum vel velit tortor. Nulla eu sollicitudin tortor. Phasellus mattis, tortor id rutrum consequat, nibh enim laoreet turpis, et eleifend mauris turpis non nunc. Phasellus erat nisi, dapibus eget blandit non, luctus non nunc. Suspendisse potenti. Etiam at eros vitae diam tempor rutrum. Donec mollis vitae lacus at rutrum. Vestibulum elementum dui consequat, facilisis ipsum id, ullamcorper enim.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
          </div>
        </div>
        
      </div>
</div>
<!--/row-->