<div class="row row-offcanvas row-offcanvas-left row-full-height">

  <div class="sidebar-offcanvas" id="sidebar">
    <p id="logo-holder"><a href="#" id="logo" class="sidebar-nav"><img src="images/logo.svg"></a><a href="#" id="logo-icon"><img src="images/logo-icon.svg"></a></p>
    <ul class="list-unstyled">
      <li class="sidebar-nav">
        <a href="#" data-jump-to="introduction" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/1" alt="" /> About Patterndeck</a>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="connecting-life" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/2" alt="" /> Connecting Life <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="smart-workspaces" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/3" alt="" /> Smart Workspaces <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="new-automotive" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/4" alt="" /> New Automotive <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="new-healthcare" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/5" alt="" /> New Healthcare <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="new-energy" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/6" alt="" /> New Energy <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="new-retail" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/7" alt="" /> New Retail <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="new-banking" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/8" alt="" /> New Banking <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="#" data-jump-to="rites-of-passage" class="scroll-horizontal"><img src="http://lorempixel.com/20/20/abstract/9" alt="" /> Rites of Passage <i class="fa fa-chevron-down"></i></a>
        <div class="sub-menu hidden">
          <a href="#">Overview</a>
          <a href="#">Patterns</a>
        </div>
      </li>
      <li class="sidebar-nav">
        <a href="http://product-foundry.com/#contact" target="_blank"><img src="http://product-foundry.com/images/f449a48f.logo.svg" alt="" width="20px" /> Contact us</a>
      </li>
    </ul>
  </div>
  <!--/.sidebar-offcanvas-->


    <button id="offcanvas-initiator" type="button" data-toggle="offcanvas"></button>



      <div id="mixedContent">
        <div id="introduction" class="contentBox">
          <div class="image-container">
            <img src="images/about-patterndeck.jpg" />
            <h2>About Patterndeck</h2>
          </div>
          <div class="content-container">
            <h4>Introduction</h4>
            <p>We believe our businesses are in need of profound change. This change is difficult, the way giving up a habit is difficult. Change requires developing, understanding, and
embracing new and unfamiliar solutions. We cannot always understand these new solutions in terms of our existing solutions. And each solution must be practiced in terms of other solutions in our
extended organizations. We organize our solutions as patterns, where each pattern explains what it is trying to solve, how they propose to solve it, and their interconnection with other patterns. Together, we create New Business.</p>
            <p class="text-center">
              <a class="btn btn-custom" href="introduction.html">Read more</a>
            </p>
          </div>
        </div>

        <div id="connecting-life" class="contentBox">
          <div class="image-container">
            <img src="images/connecting-life.jpg" />
            <h2>Connecting Life</h2>
          </div>
          <div class="content-container">
            <h4>Connecting Life</h4>
            <p>Incorporating changes in our individual lifestyle is difficult, whether it be learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult.</p>
            <hr />
            <h4>Author</h4>
            <p>Indranil Bhattacharya</p>
            <hr />
            <h4>Latest updates</h4>
            <p>Updated Adapting with life pattern</p>
            <hr />
            <h4>Latest comments</h4>
            <h5>Jenny</h5>
            <p>A few thoughts that popped up as I read: This all started with Clever Digs so I’m wondering how I might assist you. I haven’t been paying much attention to the playing field of Telecoms/Google/Apple/Android so, without doing some...</p>
          </div>
        </div>
        
        <div id="smart-workspaces" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-1.jpg" />
            <h2>Smart Workspaces</h2>
          </div>
          <div class="content-container">
            <h4>Smart Workspaces</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>

        <div id="new-automotive" class="contentBox">
          <div class="image-container">
            <img src="images/patt-lang-2.jpg" />
            <h2>New Automotive</h2>
          </div>
          <div class="content-container">
            <h4>New Automotive</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>
          
        <div id="new-healthcare" class="contentBox">
          <div class="image-container">
            <img src="images/new-healthcare.jpg" />
            <h2>New Healthcare</h2>
          </div>
          <div class="content-container">
            <h4>New Healthcare</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>
          
        <div id="new-energy" class="contentBox">
          <div class="image-container">
            <img src="images/new-energy.jpg" />
            <h2>New Energy</h2>
          </div>
          <div class="content-container">
            <h4>New Energy</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>
        
        <div id="new-retail" class="contentBox">
          <div class="image-container">
            <img src="images/new-retail.jpg" />
            <h2>New Retail</h2>
          </div>
          <div class="content-container">
            <h4>New Retail</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>
        
        <div id="new-banking" class="contentBox">
          <div class="image-container">
            <img src="images/new-banking.jpg" />
            <h2>New Banking</h2>
          </div>
          <div class="content-container">
            <h4>New Banking</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>
        
        <div id="rites-of-passage" class="contentBox">
          <div class="image-container">
            <img src="images/rites-of-passage.jpg" />
            <h2>Rites of Passage</h2>
          </div>
          <div class="content-container">
            <h4>Rites of Passage</h4>
            <p>We are looking for contributors.</p>
            <hr />
            <h4>Start collaborating</h4>
            <p>If you feel that you have something to add please let us know so we can start collaborating on this pattern language.</p>
          </div>
        </div>
        
      </div>
</div>
<!--/row-->

{{>footer}}