{{>nav}}

{{>home}}
    
{{>new-telco}}

{{>patterns}}
    
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>&copy 2012 - <span id="current-year"></span> <a href="http://www.product-foundry.com">Product Foundry</a></p>
      </div>
    </div>
  </div>
</footer>

<div id="allModalContent">
  
{{>adapting-with-life}}

{{>aware-instances}}

{{>change-history}}

{{>changeable-by-many}}
  
{{>charge-upon-consumption}}
  
{{>classic-lines}}
  
{{>clear-withering-products}}
  
{{>coherent-workspace}}
  
{{>components-balance-themselves}}
  
{{>configuration-inverse-to-its-complexity}}
  
{{>constant-circulation}}
  
{{>continuous-harvesting}}
  
{{>customers-create-their-own}}
  
{{>customers-of-customers}}
  
{{>decide-by-matching}}
  
{{>deep-roots}}
  
{{>everyone-cares}}
  
{{>events-everywhere}}
  
{{>everyones-business}}
  
{{>experience-store}}
  
{{>exotic-plants}}
  
{{>few-skilled-gardeners}}
  
{{>flower-shows}}
  
{{>fortified-town}}
  
{{>growth-supports}}
  
{{>hardy-perennials}}
  
{{>infinite-varietals}}
  
{{>infrastructure-coalition}}
  
{{>interdisciplinary-expertise}}
  
{{>integral-technology-stack}}
  
{{>internal-bazaar}}
  
{{>irrigation-channels}}
  
{{>kitchen-garden}}
  
{{>language-for-instances}}
  
{{>legacy-agents}}
  
{{>lifelong-educators}}
  
{{>lifestyle-vaults}}
  
{{>living-data-everywhere}}
  
{{>living-prototypes}}
  
{{>low-walled-town-communities}}
  
</div>
    
<div class="patterns-modal modal fade" id="patternsModalHolder" tabindex="-1" role="dialog" aria-hidden="true"></div>