<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A pattern language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Interdisciplinary Expertise</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="20px">
                        <img src="images/maturity-1.svg" width="20px">
                        <hr>
                        <img src="images/patterns/interdisciplinary-expertise.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal33-content1"></div>
            <script>
              document.getElementById('patternsModal33-content1').innerHTML =
                marked('*Individuals are encouraged to develop inter-disciplinary skills. Encourage generalists who can easily specialize.*<br /><br />Specialists are often required for product implementations given the technological complexity of Telecommunications environments. The Telecom industry, however, is also characterized by rapid change, and there is a tendency for specialists to desire retaining their specializations despite these changes.<br /><br />Therefore focus individuals within the enterprise to build expertise in multiple disciplines. Encourage data specialists to become process specialists, and process specialists to become business specialists. Encourage everyone to perform a multitude of varied tasks.<br /><br />Develop a [Few Skilled Gardeners](few-skilled-gardeners.html) who can tackle almost any aspect of the product, starting from [Changeable by Many](changeable-by-many.html).');
            </script>
                </div>
                             
        </div>
    </article>

    <!-- Footer -->
{{>footer}}