<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Operations</div>
              <div class="intro-heading">Interdisciplinary Expertise</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/interdisciplinary-expertise.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal29-content1">
            </div>
            <script>
              document.getElementById('patternsModal29-content1').innerHTML =
                marked('*Individuals are encouraged to develop inter-disciplinary skills. Encourage generalists who can easily specialize.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal29-content2"></div>
            <script>
              document.getElementById('patternsModal29-content2').innerHTML =
                marked('Specialists are often required for product implementations given the technological complexity of Telecommunications environments. The Telecom industry, however, is also characterized by rapid change, and there is a tendency for specialists to desire retaining their specializations despite these changes.<br /><br />Therefore focus individuals within the enterprise to build expertise in multiple disciplines. Encourage data specialists to become process specialists, and process specialists to become business specialists. Encourage everyone to perform a multitude of varied tasks.<br /><br />Develop a [Few Skilled Gardeners](few-skilled-gardeners.html) who can tackle almost any aspect of the product, starting from [Changeable by Many](changeable-by-many.html).');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal29-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal29-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="infrastructure-coalition.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Infrastructure Coalition</h3>
          
                
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="integral-technology-stack.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Integral Technology Stack</h3>
          <span>Component Behavior</span>
            
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}