<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
      <a href="index.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Legal notice</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="recent-updates-content1"></div>
            <script>
              document.getElementById('recent-updates-content1').innerHTML =
                marked('###Copyright:\nThe copyright for this document is the property of Product Foundry. This document is supplied on the expressed condition that the content must not be used for purposes other than that for which it has been supplied, or reproduced, wholly or in part without the prior written permission of Product Foundry.\n\n\n###Disclaimer:\nThe views expressed are purely those of the authors and may not in any circumstances be regarded as stating an official position of Product Foundry. More information on the specific activity treated in this publication is available on the Internet, and is supplied with the conditions outlined before downloading a copy of this document.\n\n[http://www.patterndeck.com/](http://patterndeck.com)\n\n\n###Contact Information:\n\ninfo@product-foundry.com<br />Product Foundry, Plantage Middenlaan 62, <br />1018 DH Amsterdam, The Netherlands\n\n\n###Applying the Pattern Language:\n\nThe contents of this document are intended for application by experienced practitioners within Telcos, and the content provided by this document such should be sufficiently self-explanatory.\n\nHowever, all applications, derivative action, and decisions arising from the contents of this document are entirely at the risk and discretion of the practitioners. If you require assistance, we recommend engaging Embodied Making certified analysts and certified New Telco Pattern Language practitioners.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8"></div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}