<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Living Data Everywhere</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="20px">
                        <img src="images/maturity-1.svg" width="20px">
                        <img src="images/maturity-1.svg" width="20px">
                        <hr>
                        <img src="images/patterns/living-data-everywhere.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal42-content1"></div>
            <script>
              document.getElementById('patternsModal42-content1').innerHTML =
                marked('*Lorem ipsum lifts the burden of the thinking about the practical realities of using and operating the product. Real data never looks pretty.*<br /><br />Telecommunications products are used by customers in almost every aspect of their lives, whether it is at work, at home, or on the move. The same product can be used with friends, family, or colleagues in a variety of different ways. Each of these situations is reflected by data. When new concepts are first conceived, there is a tendency to ignore these diverse situations and to focus on some simplistic scenarios, often to the point of being reductionist and ignoring necessary complexity. These simplistic scenarios are easy to comprehend for the design, development, and testing of the product. The usage of processes where everything goes well (“sunny day scenarios”) and filler content (“lorem ipsum”) reflects this practice. Design agencies tend to focus on making the concept look visually appealing, sometimes at the expense of using simplistic data. For instance, consider the simple example of a drop down menu that looks great with 5 “lorem ipsum” choices, but not so nice with the actual 203 required choices. On the other hand, real production data cannot be utilized under any circumstances in design, development, or testing due to their sensitivity. Products, once they are realized, tend not to look like the early concepts because they have to cope with real data reflective of processes where many things can go wrong.<br /><br />Therefore one of the biggest investments an organization can make is in creating and maintaining data for usage in design, development, and testing. This data should be inspired by real production data, but under no circumstances should it really be production data. The data should be reflective of the diverse situations faced by products, and should constantly be revised and updated based on the actual situations. The validity of the product in the organization itself should be linked to how well those who operate, modify, and manage the product manage this data. The data should be versioned so that its history of change is visible. Infrequent changes or prolonged periods without updates should be indicate of this data becoming stale.<br /><br />The [Few Skilled Gardeners](few-skilled-gardeners.html) work with the [Three Product Champions](three-product-champions.html) and the [Participating Demographic](participating-demographic.html) create data for design, development, and testing within [Trusted Advisor](trusted-advisor.html) in the [Fortified Town](fortified-town.html). [Product Markers](product-markers.html) indicate the freshness of this data based on how frequently and consistently it has been updated. The data is used to create [Living Prototypes](living-prototypes.html) that reflect how the product will appear through real usage.');
            </script>
                </div>
                             
        </div>
    </article>

    <!-- Footer -->
{{>footer}}