<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Market Strategy</div>
              <div class="intro-heading">Living Prototypes</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/living-prototypes_1.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal39-content1">
            </div>
            <script>
              document.getElementById('patternsModal39-content1').innerHTML =
                marked('*Get just enough working to showcase idea. Prefer putting effort in prototypes over big specifications.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal39-content2"></div>
            <script>
              document.getElementById('patternsModal39-content2').innerHTML =
                marked('It is difficult to comprehend the intended behaviour of a product before it is built. Some of the behaviour of a new product is often similar to existing products with some variations, such as the product’s behaviour for regulatory compliance. The product’s differentiating qualities are often completely new. Products are often built collectively by several departments, often using external suppliers. If the different parties involved in the product’s design, development, testing, and operation due not have a common understanding of the product’s intended behaviour, the product’s realization will be inefficient and unstable. Documentation to help realize the product, such as requirement and solution specifications, tend to increase in volume in proportion to the complexity of the product and the number of involved parties. If the documentation becomes very lengthy, there is an increased likelihood that not everyone will read everything in the documents. Complex products with several involved parties require high volumes of communications (meetings, emails, phone calls, etc.) to ensure reliable delivery and operation, which further increases inefficiencies.<br /><br />Therefore make prototypes that emulate the product that will eventually be built. Allocate up to 10 percent of the total time, budget, and resources intended for realizing the product for realizing the prototype. Build product features that are fairly obvious with static content. For instance, if the product requires users to sign in, a feature common to most products, place a static image of a login panel. Build enhancements or alterations of well-understood features that require some interaction to understand with simulated behaviour. For instance, if specialized search is part of the product’s behaviour, demonstrate this ability through fixed search criteria and always return the same results. Search is universally understood in most modern organizations given the omnipresence of search tooling, and the prototype in this example would simulate how the specialized search will be different. Finally, for product features that are completely new and difficult to comprehend, build them as realistically as possible. Unlike static content and simulated behaviour, build these features so that some of the work can be reused later when the prototype is finished. For continuous innovations, where the new product is mostly like the existing products, focus the majority of the effort on static content and simulated behaviour, and only focus on working behaviour for the aspects that differentiate the new product from existing products. For disruptive innovations where the new product has very little similarity with the older products, focus mostly on simulated and working behaviour in the prototype. When building the actual product, use the prototype as a living specification. As the actual product starts being realized, decrease the effort in the prototype and increase the effort in documenting the product’s accepted and stable behavior for end users. Once the product is completely realized, abandon all effort around the prototype completely, recognizing that it has served its purpose, and shifting all effort to operating the realized product and supporting documentation.<br /><br />The [Three Product Champions](three-product-champions.html) build the prototype to demonstrate the product’s [Signature Aromas](signature-aromas.html). If the product requires high confidentiality, the Prototype is only shared within [Trusted Advisor](trusted-advisor.html) within the [Fortified Town](fortified-town.html). Given that the [Few Skilled Gardeners](few-skilled-gardeners.html) will take the product to [Plant in a Single Garden](plant-in-a-single-garden.html), the [Three Product Champions](three-product-champions.html) use the Prototype to demonstrate how the product will coexist with other products in [Themed Areas](themed-areas.html). For variations on [Classic Lines](classic-lines.html), the prototype should contain a higher quotient of static content and simulated behaviour. For [Exotic Plants](exotic-plants.html), the prototype should contain a higher quotient of simulated and working behaviour. Specify to operationalize the product as its behaviour becomes accepted and stable in the realization process.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal39-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal39-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="living-data-everywhere.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Living Data Everywhere</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/living-data-everywhere.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="low-walled-town-communities.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Low-walled Town Communities</h3>
          <span>Organization Structure</span>            
          <img src="images/patterns/low-walled-town-communities.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}