<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Whole Town Participates</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="20px">
                        <img src="images/maturity-1.svg" width="20px">
                        <img src="images/maturity-1.svg" width="20px">
                        <hr>
                        <img src="images/patterns/whole-town-participates.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal85-content1"></div>
            <script>
              document.getElementById('patternsModal85-content1').innerHTML =
                marked('*Create common targets for the whole company where all individual can participate in product community. The first customers of a product are internal staff. Whole town tests together.*<br /><br />Large organizations are divided into departments, which is necessary because of many reasons... A common instrument of managing goals for individuals is targets, the fulfilment of which reaps financial rewards for individuals. Top down, strategy broken down, little goals. Departments get their own goals, but Individuals only fulfil things within their targets When Targets for an individual are set by historic precedents, and rely on repeating the past effectively. Targets are translated in terms of a department. Technology department focused on transformation while Marketing department focused on maximizing on variations of existing products, while Sales department focused on continuous innovations on existing products.<br /><br />Therefore, create common targets for the whole company where all individual can participate in product community. The first customers of a product are internal staff.<br /><br />The [Three Champions](three-product-champions.html) and the [Participating Demographic](participating-demographic.html) spread word about the new product at the [Town Well](town-well.html) across [Low-walled Town Communities](low-walled-town-communities.html) but within the [Fortified Town](fortified-town.html). [Growth Supports](growth-supports.html) are provided to individuals as incentives to help test the product, and the [Signature Aromas](signature-aromas.html) of the product emerge and drift across the [Low-walled Town Communities](low-walled-town-communities.html). The product’s emerging limitations and defects as it is with the product are visible to all participants at all times and if necessary put in a [Temporary Splint](temporary-splints.html).');
            </script>
                </div>
                             
        </div>
    </article>

    <!-- Footer -->
{{>footer}}