<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Working Alongside</h1>
                        <span class="meta">
                        <hr>
                        <img src="images/patterns/working-alongside.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal86-content1"></div>
            <script>
              document.getElementById('patternsModal86-content1').innerHTML =
                marked('*There is great beauty in our work. Each time we do it, we make it better. We only want to repeat what works best until we learn a better way to do it, and these moments can occur continuously in our lives. When our work feels chaotic, we work towards structure. When our work feels to structured, we yearn for space for creativity and innovation. We understand the elements of our business, and we compose and re-compose these elements to make existing business better and new business happen. Our systehms don’t get in our way by telling us what we can or cannot do, and our software supports us in excelling in the known and exploring the unforeseen. We work in an open community with other businesses that live the same values we do, and we see the present continuously changing and full of promise.*<br /><br />This pattern is incomplete, imperfect, and has a "quality we would rather not name". We will work it out soon, soon being the moment we are sure about what to put here.');
            </script>
                </div>
              <div class="col-xs-10 col-xs-offset-1 col-md-2 col-md-pull-8 col-md-offset-1">
                    <div id="patternsModal86-content2" class="patterns-notes"></div>
            <script>
              document.getElementById('patternsModal86-content2').innerHTML =
                marked('&nbsp;\n\n<br /><br />\n<hr />*“The farmer:<br />With black shirt<br /><And shorts.<br />Up to his knees<br />In the muck<br />Rice shoots in one hand,<br />The other darting<br />Under the water<br />And into the muck<br />To plant new life.”<br />Rice will grow again by Frank A. Cross Jr.*');
            </script>
                     
            </div>
                       
        </div>
    </article>

    <!-- Footer -->
{{>footer}}