<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Meaningful Names and Identities</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="20px">
                        <img src="images/maturity-1.svg" width="20px">
                        <hr>
                        <img src="images/patterns/meaningful-identities.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal46-content1"></div>
            <script>
              document.getElementById('patternsModal46-content1').innerHTML =
                marked('*Using Mobile Subscriber Identities (MSISDN) or Directory Numbers will change with the emergence of IP technology, giving way to meaningful identities.*<br /><br />An individual’s mobile number, also technically known as their MSISDN (Mobile Station International Subscriber Directory Number), or their Directory Number, which is referred to as their landline numbers or PSTN numbers, have been stable means to identify lines and users. These methods of identifying users are currently based on traditional communications technology like GSM and PSTN. There is a tendency for these identities to play a pivotal role in Customer Care systems, with distinction between Users (people who use Products) and Customers (people who pay for Product usage) being blurred. As world populations, the number of users, and the number of uses of Telecom services increase, the shortage of numbers within current ranges becomes restrictive for new business models. If numbers get too large, they become harder to remember, and increasingly the role of Phone Books on Devices have become more important to remember large volumes of numbers in a meaningful way. When Customers switch operators, the porting of line identities (number porting) tends to be a cumbersome process (especially in Europe), although regulators increasingly want to make them more efficient. As IP (Internet Protocol) technology replaces traditional communications technology, these legacy identities will lose their pivotal role. In an all IP technology stack, IP addresses rather than MSISDNs and Directory Numbers will be used to identify the line. While this presents an opportunity to revise the existing practices around line identities in Network Technology, Customer Care, Billing, and Number Porting, the deep entrenchment of these concepts within existing practices makes change very difficult. Users who have grown accustomed to their “telephone number” as a part of their identity may also want to retain that identity while they get used to other form of emergent identities. Finally, the emergence “the internet of things” or “<br /><br />Therefore make a distinction between absolute identities that remain integral over a period of time and referential identities which are easy for users to remember. IP addresses are an example of absolute identity, and usernames, MSISDNs, and Subscriber Directory Numbers are refer to the IP address. Referential identities can be used to contact individuals, and network systems resolve referential identities to absolute identities. Existing logic within Customer Care, Billing, and Number Porting that utilize the legacy identities can remain, and be transitioned as the referential identities become less and less significant.<br /><br />The [Many that Products co-exist](many-products-co-exist.html) are linked through a common identity, and ensure these common identities don’t grow [Deep Roots](deep-roots.html). The [Aware Instances](aware-instances.html) exist with absolute and referential identities that utilize the [Language for Instances](language-for-instances.html). The [Product Markers](product-markers.html) refer to individual Instances of Products, continuously measuring their performance.');
            </script>
                </div>
                             
        </div>
    </article>

    <!-- Footer -->
{{>footer}}