<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="./connecting-life-stories.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Connecting life</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="story-content1"></div>
            <script>
              document.getElementById('story-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="story-content2"></div>
            <script>
              document.getElementById('story-content2').innerHTML =
                marked('###Poor 360 client view\nWe have no real insight in who our client is and what he or she<q>s preferences, behavior and consumption. With some of our clients we only have a billing relation and have no interaction with, they seem not to be engaged in our fora, communities etc. We campaign a lot but cannot measure the real effectiveness, special amongst those groups.');
            </script>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
