<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Story</h4>
                        <h1>Address changes</h1>
                        <span class="meta">
                        <hr>
                        </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal1-content1"></div>
            <script>
              document.getElementById('patternsModal1-content1').innerHTML =
                marked('\nMy address has recently changed, and I want to be able to change it quickly. I don’t want to call and wait until someone picks up my phone so that they can manually enter my new address data. I certainly don’t want to write a letter to inform Telekom my address or bank account details have changed. I don’t have a fax machine, and I am not interested in sending things by faxes either. All of these forms of interactions seem to be from another era.');
            </script>
                </div>
                                   
        </div>
    </article>

    <!-- Footer -->
{{>footer}}