<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="./guidelines-stories.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Patterndeck</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="story-content1"></div>
            <script>
              document.getElementById('story-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="story-content2"></div>
            <script>
              document.getElementById('story-content2').innerHTML =
                marked('###The librarian\nThe form of a physical library has evolved over 2000 years, and yet in the 20 years of the internet, we seem to have forgotten all about the beauty of structuring knowledge as a journey. I grew up around 2 libraries, one in School and one in the University where my father taught. We lived on campus, which meant I had access to the University library at all hours. When entering the University libary, there was an open space for conversations with some couches, something that wasn’t encouraged inside the library. Past the open space, there were turnstiles to enter and leave the library, next to which there was a 20 meter long marbletopped counter for the librarians. There were always at least 2 or 3 librarians at the counter, and they mostly played the role of being human indexes. “Where do I find...”, “How long can I ...”, etc. Next to the counter was a several rows of hardwood card catalogs that organized all the books and journals in the library using the Dewey Decimal system. And then the library started.The first shelves featured encyclopedias. The great thing about encyclopedias is that they encourage roaming. Rows of leather  bound books, like the Encyclopedia Brittanica, organized by letters. It’s the most fascinating thing. Picking up a random letter, and then opening to a random page, and reading about something completely unexpected. It’s random reading but not cursory reading. It took effort to lift a heavy book out the metal shelves, and then finding a quiet spot to read it. The 5 minutes spent picking, choosing, selecting, and sifting were enough to ensure that I was already heavily invested in the process of random reading. There is also randomness to the entries. Other than the coincidence of starting with the same letter, the entries in a single volume could be around any topic. Elsewhere in the University Library, there was a section called the Milton E. Bender section which was the space dedicated for casual reading and had all the fiction and non-fiction titles. As an engineering focused university, more than 95% of the space was dedicated to technical material. Named after the first president of the institute (an Australian) who donated most of his personal collection to start the section, there were a lot of about Australia and by Australians. Consequently I learned more about Australia than I would have, mostly because the personal tastes of an individual had become the only choice for casual reading for an entire institute. There’s something to be said for personal collections. It’s the first thing I look at when I visit someone’s house. Most people think a library exists so that you must systematically read all the books in them. But a library actually exists as weighted reference tool. Weighted because it’s there, urging you to return to its folds. To quote: “The writer Umberto Eco belongs to that small class of scholars who are encyclopedic, insightful, and nondull. He is the owner of a large personal library (containing thirty thousand books), and separates visitors into two categories: those who react with “Wow! Signore professore dottore Eco, what a library you have! How many of these books have you read?” and the others—a very small minority—who get the point that a private library is not an ego-boosting appendage but a research tool. Read books are far less valuable than unread ones. The library should contain as much of what you do not know as your financial means, mortgage rates, and the currently tight real-estate market allow you to put there. You will accumulate more knowledge and more books as you grow older, and the growing number of unread books on the shelves will look at you menacingly. Indeed, the more you know, the larger the rows of unread books. Let us call this collection of unread books an antilibrary.” Excerpt From: Nassim Nicholas Taleb. “The Black Swan. Most homes contain the usual motley collection of Booker prize winners, bestsellers, travel guides, and career guides. I call these books “Airport Novels”. They are convenient to find, read, consume, and forget. Like a Big Mac. But knowledge of the form that is yeared after, sought, difficult to grasp, revealed through many readings, and finally “grokked” is like the main course of a Michelin star restaurant. Which brings me to the other library of my youth. Run by a gaunt Irishman passionate about books with a small team of Thai administrators, my school library was dense and packed with a range of books to educate young minds. “What should I read next?” is a question I asked Mr. Lancaster, the librarian, quite often. For young minds to have a guide, who can have them sample some adventure, some mystery, some history, and some sorrow. I read widely thanks to Mr. Lancaster, and I feel every library should have a Mr. Lancaster. A living human index of books who loved life, this is what is absent from the knowledge in most organizations. Most companies implement sharepoint or some other digital collaboration tool, and it becomes the digital landfill of documents. Folders within folders, there are no guides, no storytellers, and no connectedness. The internet is all linked thanks to hyperlinks, but thanks to the equality of all links, knowledge is very poorly connected.');
            </script>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
