<div class="patterns-modal">
    <div class="modal-content">
        <div class="close-modal">
            <a href="./guidelines-stories.html"></a>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="intro-text">
                            <hr>
                            <div class="intro-heading">Patterndeck</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" />
                        </p>
                        <div id="story-content1"></div>
                        <script>
                            document.getElementById('story-content1').innerHTML =
                                marked('');
                        </script>
                    </div>
                </div>
            </div>
        </header>
        <!-- Services Section -->
        <section>
            <div class="container">
                <div class="row text-left">
                    <div class="col-xs-12 col-sm-6 col-sm-push-4 col-md-6 col-md-push-4">
                        <div id="story-content2"></div>
                        <script>
                            document.getElementById('story-content2').innerHTML =
                                marked('##We love lists\nThere’s no point in fighting human nature. We love lists. We don’t want to labour through miles of text to get the point. We want bullet points. We say things and believe like “a picture is equal to a thousand words”, which as John McCarthy pointed out, would make “a thousand and one words worth more than a picture”. “What is the use of a book,” thought Alice, “without pictures or conversations?” And while Alice paused awhile to ponder, most of us don’t bother pausing or pondering. We engage in content superficially, and only when it piques our interest do we delve deeper. We constantly judge books by their cover, and when there are too many books and too many covers, we pick the few that stand out in the shelves and glance at them for 5 seconds or less to make up our minds if they are worth reading or not. Sensemaking? Sure, we do it all the time, but the best of us struggle to cope with more than 2 things at a time. ”The first criterion by which people judge anything they encounter, even before deciding whether it is true or false, is whether it is interesting or boring. The truth of a theory is not even the main criterion of its acceptance, for an interesting falsehood will attract more followers than a boring truth.” Murray S. Davis \n<br />\n\n1. Most of the information in organizations - and most of the information people really care about - aren’t on computers. \n<br />\n\n2. Managers prefer to get information from people rather than computers. \n<br />\n\n3. The more complex the information tools, the less likely it is to influence changes in behaviour. \n<br />\n\n4. Some element of flexibility in information is desirable. \n<br />\n\n5. The more the company knows and cares about its core business, the less likely there is to be common definitions. \n<br />\n\n6. If information is power and money, people won’t share it. \n<br />\n\n7. The use of a specific information format is directly proportional to participation and trust. \n<br />\n\n8. To make the most of electronic communications, people must first be effective face-to-face communicators. \n<br />\n\n9. Any map or model of information must include people. \n<br />\n\n10. There is no thing as information overload. If information is useful, our apetite for it is insatiable.\n<br /><br />\n\nThomas Davenport, Saving IT’s Soul I am tired of hearing systems designers and administrators explaining why their systems fail. “Things don’t work because users don’t do what they are supposed to do.” People do what they want to do. Organize less to get more. If I have to maintain a mountain to get a drop of water, I’ll go elsewhere. That’s why systems fail. Far too often they demand precise input to give precise results. Enter the kingdom of forms and fields. This is how I want you to think of your information. No thank you. I’ll think of my information in the way I please. I want no forms and fields. Because when I start forming my thoughts, I don’t have a precise form in mind. At first there is only the word. And then I’ll be lucky if a bunch of words form a fragment, and even luckier if my fragments form a sentence. I don’t start with novels and chapters. I start with words that become sentences, which become paragraphs. I make diagrams the same way. In the beginning, all I have is a line, and then a bunch of lines make something. I don’t use templates. Each document gives me something my previous documents didn’t possess. I value novelty over consistency. My sentences lie dormant for months, struggling to find form, forgetten in some remotely stored file in Dropbox that I never open again or in some system that works better than I ever will like Evernote that I never open. My smartphone and tablet are littered with organizing and tasking apps I’ve entered 2 or 3 things into only to abandon, and I get things done not because of these apps, but mostly around the guilt of not organizing myself better. As Cory Doctorow eruditely explains in Metacrap, design systems that embrace people for their imperfections, not how we want them to be. The internet is full of incomplete stories, half-started thoughts, and blogs abandoned after 3 entries. We start authoring with enthusiasm because of the siren call of something sultry and new, but the next siren call of something sultrier calls us away. Glossy interfaces are sultry sirens, and if all my latest content management toy is going to give me is more UXPorn, then it’s only going to hold my attention for a few days. What’s timeless? Content editors that remove all the noise to give you undiluted focus from all the other apps reaching out to get your attention. I use Brackets for editing text nowadays, my new tool of choice after having used IntelliJ for content editing for a long time. I use Brackets in night mode and full-screen, where I have nothing but my words.');
                        </script>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{>footer}}