<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="./connecting-life-stories.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-heading">Connecting life</div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Introduction" class="img-responsive" /></p>
            <div id="story-content1"></div>
            <script>
              document.getElementById('story-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="story-content2"></div>
            <script>
              document.getElementById('story-content2').innerHTML =
                marked('###Swap purchases easily\nWe recently went on holiday with our new baby, and we forgot the babyphone at home. My wife insisted that we needed one, and we **didn’t want to waste money** buying a new babyphone. I decided to check out whether I could buy an app for that in my iPad, and I found 3 apps for it. One was free, but it really didn’t have the features I wanted. The 2nd was 2.99 euros, and the third was 5.99 euros. After comparing the features, I bought the one for 5.99 euros. Reflecting back, **I might have only needed** the one for 2.99 euros, but I was willing to spend more at that very moment because I felt I needed a feature-rich solution at the time, and I was willing to spend more money in the moment.');
            </script>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>
{{>footer}}
