<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Operations</div>
              <div class="intro-heading">Three Product Champions</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/three-product-champions.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal73-content1">
            </div>
            <script>
              document.getElementById('patternsModal73-content1').innerHTML =
                marked('*A product needs to be championed by at least 3 people in order to accepted as a candidate for development.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal73-content2"></div>
            <script>
              document.getElementById('patternsModal73-content2').innerHTML =
                marked('Poorly concepted products are difficult to implement, and poorly implemented products are difficult to operate.<br /><br />A product needs to be championed by at least 3 people in order to accepted as a candidate for development. One person close to the market with knowledge of how to market and sell the product, one person close to enabling technology with knowledge of how to realize and implement the product, and one person close to operations with knowledge of how to provide customer service, support, and stability to the product.<br /><br />Working with the [Participating Demographic](participating-demographic.html) and a [Few Skilled Gardeners](few-skilled-gardeners.html), the three individuals concept, prototype, develop, and operate the product.<br /><br />');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal73-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal73-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="themed-areas.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Themed Areas</h3>
          <span>Operations</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="tollhouse-couponing.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Tollhouse Couponing</h3>
                      
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}