<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" src="../images/patterndeck-logo.svg" width="40px" onerror="this.src='../images/patterndeck-logo.png'; this.onerror=null;"> Connecting Life | <small>A Pattern Language for Communication Networks</small> 
      </a>
    </div>
  </div>
</nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3 col-xs-10 col-xs-offset-1">
                    <div class="post-heading">
                        <h4>Pattern</h4>
                        <h1>Three Product Champions</h1>
                        <span class="meta">
                        <img src="images/maturity-1.svg" width="10px">
                        <img src="images/maturity-1.svg" width="10px">
                        <hr>
                        <img src="images/patterns/three-product-champions.jpg" width="100%" alt="..."> 
                       <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                 
                     <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-push-2 col-md-offset-1">
                    <div id="patternsModal77-content1"></div>
            <script>
              document.getElementById('patternsModal77-content1').innerHTML =
                marked('*A product needs to be championed by at least 3 people in order to accepted as a candidate for development.*<br /><br />Poorly concepted products are difficult to implement, and poorly implemented products are difficult to operate.<br /><br />A product needs to be championed by at least 3 people in order to accepted as a candidate for development. One person close to the market with knowledge of how to market and sell the product, one person close to enabling technology with knowledge of how to realize and implement the product, and one person close to operations with knowledge of how to provide customer service, support, and stability to the product.<br /><br />Working with the [Participating Demographic](participating-demographic.html) and a [Few Skilled Gardeners](few-skilled-gardeners.html), the three individuals concept, prototype, develop, and operate the product.');
            </script>
                </div>
                             
        </div>
    </article>

    <!-- Footer -->
{{>footer}}