<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Organization Structure</div>
              <div class="intro-heading">Town Well</div>
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/town-well.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal75-content1">
            </div>
            <script>
              document.getElementById('patternsModal75-content1').innerHTML =
                marked('*A single source of nourishment where town members return continuously throughout the day.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal75-content2"></div>
            <script>
              document.getElementById('patternsModal75-content2').innerHTML =
                marked('&nbsp;\n\n##Connecting Life is looking for contributors.\n***\n<br />\n\n###If you feel that you have something to add, [here\'s how](http://connectinglife.patterndeck.businesselements.org/).\n<br />\n\n1. ####Request an account from the moderator.\n2. ####Login and have fun.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal75-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal75-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="tollhouse-couponing.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Tollhouse Couponing</h3>
          
          <img src="images/patterns/tollhouse-couponing.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="travelling-artisan.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Travelling Artisan</h3>
                      
          <img src="images/patterns/travelling-artisan_1.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}