<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="connecting-life-patterns.html"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              
              <div class="intro-heading">Wheelbarrow Planter</div>
              
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/wheelbarrow-planter.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal81-content1">
            </div>
            <script>
              document.getElementById('patternsModal81-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal81-content2"></div>
            <script>
              document.getElementById('patternsModal81-content2').innerHTML =
                marked('<br /><br />This pattern is incomplete, imperfect, and has a "quality we would rather not name". We will work it out soon, soon being the moment we are sure about what to put here.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal81-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal81-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="visible-assists.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Visible Assists</h3>
          
          <img src="images/patterns/visible-assists_1.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="whole-town-participates.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Whole Town Participates</h3>
          <span>Organization Structure</span>            
          <img src="images/patterns/whole-town-participates.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}