<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Organization Structure</div>
              <div class="intro-heading">Whole Town Participates</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal82-content1">
            </div>
            <script>
              document.getElementById('patternsModal82-content1').innerHTML =
                marked('*Create common targets for the whole company where all individual can participate in product community. The first customers of a product are internal staff. Whole town tests together.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal82-content2"></div>
            <script>
              document.getElementById('patternsModal82-content2').innerHTML =
                marked('Large organizations are divided into departments, which is necessary because of many reasons... A common instrument of managing goals for individuals is targets, the fulfilment of which reaps financial rewards for individuals. Top down, strategy broken down, little goals. Departments get their own goals, but Individuals only fulfil things within their targets When Targets for an individual are set by historic precedents, and rely on repeating the past effectively. Targets are translated in terms of a department. Technology department focused on transformation while Marketing department focused on maximizing on variations of existing products, while Sales department focused on continuous innovations on existing products.<br /><br />Therefore, create common targets for the whole company where all individual can participate in product community. The first customers of a product are internal staff.<br /><br />The Three Champions and the Participating Demographic spread word about the new product at the Town Well across Low-walled Town Communities but within the Fortified Town. Growth Supports are provided to individuals as incentives to help test the product, and the Signature Aromas of the product emerge and drift across the Low-walled Town Communities. The product’s emerging limitations and defects as it is with the product are visible to all participants at all times and if necessary put in a Temporary Splint.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal82-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal82-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="wheelbarrow-planter.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Wheelbarrow Planter</h3>
          
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="working-alongside.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Working Alongside</h3>
                      
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>
{{>footer}}