<div class="patterns-modal">
  <div class="modal-content">
    <div class="close-modal">
	<a href="index.html#patterns"></a>
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              
              <div class="intro-heading">Working Alongside</div>
              
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Aware Instances" class="img-responsive" /></p>
            <div id="patternsModal83-content1">
            </div>
            <script>
              document.getElementById('patternsModal83-content1').innerHTML =
                marked('*There is great beauty in our work. Each time we do it, we make it better. We only want to repeat what works best until we learn a better way to do it, and these moments can occur continuously in our lives. When our work feels chaotic, we work towards structure. When our work feels to structured, we yearn for space for creativity and innovation. We understand the elements of our business, and we compose and re-compose these elements to make existing business better and new business happen. Our systehms don’t get in our way by telling us what we can or cannot do, and our software supports us in excelling in the known and exploring the unforeseen. We work in an open community with other businesses that live the same values we do, and we see the present continuously changing and full of promise.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal83-content2"></div>
            <script>
              document.getElementById('patternsModal83-content2').innerHTML =
                marked('&nbsp;\n\n##Connecting Life is looking for contributors.\n***\n<br />\n\n###If you feel that you have something to add, [here\'s how](http://connectinglife.patterndeck.businesselements.org/).\n<br />\n\n1. ####Request an account from the moderator.\n2. ####Login and have fun.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal83-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal83-content3').innerHTML =
                marked('&nbsp;\n\n<br /><br />\n<hr />*“The farmer:<br />With black shirt<br /><And shorts.<br />Up to his knees<br />In the muck<br />Rice shoots in one hand,<br />The other darting<br />Under the water<br />And into the muck<br />To plant new life.”<br />Rice will grow again by Frank A. Cross Jr.*');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal83-content4"></div>
            <script>
              document.getElementById('patternsModal83-content4').innerHTML =
                marked('');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal83content5" class="patterns-notes">
            </div>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal83-content6"></div>
            <script>
              document.getElementById('patternsModal83-content6').innerHTML =
                marked('');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal83-content7" class="patterns-notes">
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="whole-town-participates.html">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Whole Town Participates</h3>
          <span>Organization Structure</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      
    </nav>
  </div>
</div>