<div class="patterns-modal modal fade" id="patternsModal84" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              
              <div class="intro-heading">Buried Treasures</div>
              
            </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/buried-tresures.jpg" alt="Aware Instances" class="img-responsive" /></p>
            <div id="patternsModal84-content1">
            </div>
            <script>
              document.getElementById('patternsModal84-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal84-content2"></div>
            <script>
              document.getElementById('patternsModal84-content2').innerHTML =
                marked('&nbsp;\n\n##Connecting Life is looking for contributors.\n***\n<br />\n\n###If you feel that you have something to add, [here\'s how](http://connectinglife.patterndeck.businesselements.org/).\n<br />\n\n1. ####Request an account from the moderator.\n2. ####Login and have fun.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal84-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal84-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal84-content4"></div>
            <script>
              document.getElementById('patternsModal84-content4').innerHTML =
                marked('');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal84content5" class="patterns-notes">
            </div>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal84-content6"></div>
            <script>
              document.getElementById('patternsModal84-content6').innerHTML =
                marked('');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal84-content7" class="patterns-notes">
            </div>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="#" data-content="#patternsModal2">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Aware Instances</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="#" data-content="#patternsModal3">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Change History</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>