<div class="patterns-modal modal fade" id="patternsModal16" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Operations</div>
              <div class="intro-heading">Deep Roots</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal16-content1">
            </div>
            <script>
              document.getElementById('patternsModal16-content1').innerHTML =
                marked('*Understand Deep roots for what they are. Untangle them with caution. In small portfolios, they knit the land. In a diversified portfolio, they stifle it.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal16-content2"></div>
            <script>
              document.getElementById('patternsModal16-content2').innerHTML =
                marked('Stable products that have grown over time tend to have a lot of implementation complexity which can span several applications. Each application can have complex business rules, which in turn have complex integration with other applications. Due to the lack of automated testing, considerable manual testing effort has been expended to make these products stable. Manual processes and workarounds often exist to counter the products computational limitations, and this knowledge tends to be well-documented to ensure stable product operation.<br /><br />Therefore, when new systems are designed to replace legacy systems, it is important to understand these Deep roots before trying to migrate stable products. If it is not possible to understand them, let these Deep roots lie, and remove them only as they are understood. Legacy systems are good at servicing legacy thinking. Use initiatives for realizing new systems to realize new products with contemporary thinking. If stable products must be migrated, use the opportunity to evolve them into contemporary circumstances. Reduce historical essential and accidental complexity by re-evaluating the rationality that required a particular style of implementation.<br /><br />By Continuous Harvesting to reap regular yields and by continuously eliminating unnecessary features by Pruning Products, evolve stable products into Classic Lines. Products made on the basis of out-dated molds require Recast Molds to make them more relevant to contemporary circumstances. Revisit the product’s Ringed Growth to understand its historical complexity, replace them with simpler logic such as Decide By Matching.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal16-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal16-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="#" data-content="#patternsModal15">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Decide by Matching</h3>
          <span>Component Behavior</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="#" data-content="#patternsModal17">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Everyone Cares</h3>
          <span>Operations</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>