<div class="patterns-modal modal fade" id="patternsModal21" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Operations</div>
              <div class="intro-heading">Exotic Plants</div>
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/awareinstances.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal21-content1">
            </div>
            <script>
              document.getElementById('patternsModal21-content1').innerHTML =
                marked('*Introduce Disruptive Innovations in their own spaces, and fuse them in with other products cautiously.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal21-content2"></div>
            <script>
              document.getElementById('patternsModal21-content2').innerHTML =
                marked('Stable processes for realizing and operating process are often based on continuous innovations, such as “yet another price plan”. New product ideas, and particularly disruptive innovations, that are different from existing products are often judged by the criteria used to judge existing products. Waterfall processes are tailored with templates with the assumption that one solution delivery is like another. In these cases, analysts can sense the problem through requirements, analyze the requirements based on existing delivery capabilities and behaviour in the past, and deliver solutions based on existing capabilities. Disruptive innovations, that introduce products the organization has never delivered before will require new architectures and new ways of work. Formal requirements are difficult to develop upfront as uncertainty surrounds the disruptive innovation in the beginning. Business concepts have a tendency to be vague, and rely more on competition mimicry, cherry-picking features from competitors, resorting to behavior like “make it just like the competitor”. Business value of disruptive innovations are difficult to rationalize, especially as there is no precedent for the products unlike continuous innovations. Most business value argumentation is based on competitor behaviour, which may not be resonant with brand. When judging new concepts, business impact is often judged to be “high” due to uncertainty and non-repititiveness. Demands will have a tendency to be judged as immature over protracted periods of time, as they will be benchmarked to continuous innovations, leading to extensive delays. Here analysts will have to deal with greater uncertainty, requiring some extent of probing with different solution structures, then sensing the needs, and then providing analysis. In these disruptive innovations, requirements are difficult to flesh out upfront as previous experience is not helpful, and things that seem very important at the beginning of a project are not so important later. In environments with legacy systems, there is a desire to build disruptive innovations on greenfields. These greenfield environments give some initial flexibility,but if old rationality is applied to new ideas, they soon mimic legacy systems using new tools. Waste is often incurred in the beginning of realization processes for disruptive innovations by procuring all the support tooling and platforms for it from scratch.<br /><br />Therefore realize disruptive and unconventional products using processes different from those used to realize conventional products. Provide the flexibility to change priorities in the development of product features based on newly obtained insights (e.g. market insights, technological learnings, and partner capabilities), unforeseen circumstances (e.g. additional complexity, market changes, etc.), and commercial opportunities (e.g. new customers, new demands from existing customers, etc.). Use these processes to realize features in products incrementally, and introduce products in their minimal form to the market as early as possible to test and understand customer response. Initially market, sell, implement, operate these products in an area of their own, and as their effect on the existing product base is better understood, merge them cautiously with existing marketing, sales, technology, and operational processes.<br /><br />Disruptive innovations are Planted in a Single Garden within their own Themed Area using the most skilled amongst the Few Skilled Gardeners to market, sell, realize and operate the products. Provide ample Growth Supports when first introduced, and ensure Ringed Growth by offering the Product to customers as early as possible. Influence conventional product thinking by introducing the salient features of successful disruptive innovations when Recasting Moulds. Repurpose Infrastructure to realize these disruptive innovations in order to reduce waste, but apply Repurposed Infrastructure in new roles conducive with the paradigms introduced by the disruptive innovation.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal21-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal21-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="#" data-content="#patternsModal20">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Experience Store</h3>
          <span>Operations</span>
          <img src="images/patterns/awareinstances_tn.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="#" data-content="#patternsModal22">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Few Skilled Gardeners</h3>
          <span>Organization Structure</span>
          <img src="images/patterns/changeablebymany_tn.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>