<footer>
        <div class="container">
            <div class="row">
                  <p>&copy 2006 - <span id="current-year"></span> <a href="http://www.product-foundry.com">Product Foundry</a> | <a href="legal-notice.html">Legal notice</a></p>
            </div>
        </div>
    </footer>