<section id="home" rel="Home">
  <div class="pattern">
    <h1><span>"Repurposing the role of Telcos in our lives"</span><small><a class="page-scroll btn btn-custom" href="#overview">Read more</a></small><br /><a href="recent-updates.html" class="whiteLink">Recent updates</a></h1>
  </div>
</section>