<section id="home" rel="Home">
  <div class="pattern">
    <h1><span>"Repurposing the role of Telcos in our lives"</span><small><a class="page-scroll btn btn-xl" href="#overview">Read more</a></small></h1>
  </div>
</section>