<section id="introduction" rel="Introduction">
  <div class="pattern">
    <div class="section-background">
      <h1>Introduction</h1>
    </div>
    <div class="container">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
          <div id="introduction-content1"></div>
          <script>
            document.getElementById('introduction-content1').innerHTML =
              marked('Incorporating changes in our individual lifestyle is difficult, whether it is learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult. It isn’t a single solution applied by a single individual that changes a large and complex enterprise, but several solutions applied simultaneously and coherently by several individuals. Given that products unify an enterprise — in that individuals collectively design, produce, sell, support, operate, and decommission them — we offer a set of solutions to transform enterprises on the basis of products. Pattern languages, which were originally conceived by Christopher Alexander as a means of describing effective practices within architecture, can be used to represent the knowledge required for product lifecycle management across a large enterprise. We do this by understanding the prevalent forces in the enterprise and finding positive solutions or patterns that are able to balance these forces.');
          </script>
          <h2>TELECOM COMPLEXITY</h2>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
          <div id="introduction-content2"></div>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
          <div id="introduction-content3"></div>
          <script>
            document.getElementById('introduction-content3').innerHTML =
              marked('Telecom operators are confronting business challenges that require deep changes within their people, systems, and organizations. With device manufacturers such as Apple, Google, and Samsung increasingly providing their own communications services, telecom operators are facing declining revenues from their staple offerings of voice, data, and messaging. The emergence of highspeed mobile Internet coupled with devices that offer users greater possibilities in service selection and consumption requires telecom operators to build on their existing strengths while capitalizing on new opportunities. Products focused around voice, data, and messaging need to be transformed and merged with new services that revolve around the connected work and life of users. The omnipresence of Internet Protocol (IP)–based networks makes it easier to create high volumes of diverse multidevice products, which will increase the complexity in the conception, implementation, operation, and retirement of products. Current inefficiencies will be further amplified given the product volume and diversity, and new practices will need to emerge in order to manage this unprecedented scale of complexity. Each of these new practices will have to be applied with other practices, creating an interconnected network of practices. These practices can help telecom operators effectively transform from value chains to value networks. Telecom operators have traditionally tried to manage product lifecycle processes through individual and independent projects, using waterfall or agile management methods. Products realized in environments that use a waterfall methodology have distinct phases for product innovation, product feasibility assessment, product implementation, product operation, and product retirement. Matrix organizations are often constructed to complement these distinct phases, and particular responsibilities are assigned to each phase. Distinct organizational units within the matrix organization have clearly defined roles and responsibilities, each producing a specific aspect of the final product. A single department that translates all business needs into designs (or a single group that manages all the data in the enterprise) is an example of these distinct organizational units. Such structures are useful for producing products that have similar characteristics.\n\nHistorically, most commercial product offerings have had similar structures, making it possible to create relatively repeatable processes for their lifecycles. The focus of such organizational structures tends to be around product delivery rather than product retirement. These processes are analogous to the classic Ford Model T assembly line, in which each person in the assembly line had a defined role, received fixed inputs, and produced fixed outputs to achieve consistency. Figure 1 illustrates the treatment of product lifecycle processes in a waterfall method.');
          </script>
          <p>&nbsp;</p>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
          <div id="introduction-content4" class="patterns-notes"></div>
          <script>
            document.getElementById('introduction-content4').innerHTML =
              marked('<hr />These market trends were predicted as early as 2006. See Peppard, Joe, and Anna Rylander. “From Value Chain to Value Network: Insights for Mobile Operators.” European Management Journal, Vol. 24, No. 2, 2006.');
          </script>
        </div>
      </div>
    </div>
  </div>
</section>