<section id="introduction" rel="Introduction">
  <div class="pattern">
    <div class="section-background">
      <h1>Introduction</h1>
    </div>
    <div class="container">
      <div class="row text-left">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
          <p>Incorporating changes in our individual lifestyle is difficult, whether it is learning new skills or changing our habits. Incorporating meaningful change in large enterprises with several individuals is exponentially more difficult. It isn’t a single solution applied by a single individual that changes a large and complex enterprise, but several solutions applied simultaneously and coherently by several individuals. Given that products unify an enterprise — in that individuals collectively design, produce, sell, support, operate, and decommission them — we offer a set of solutions to transform enterprises on the basis of products. Pattern languages, which were originally conceived by Christopher Alexander as a means of describing effective practices within architecture, can be used to represent the knowledge required for product lifecycle management across a large enterprise. We do this by understanding the prevalent forces in the enterprise and finding positive solutions or patterns that are able to balance these forces.</p>
          <p class="text-center">
            <a class="btn btn-custom" href="introduction.html">Read more</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>