<div class="patterns-modal modal fade" id="patternsModal38" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Component Behavior</div>
              <div class="intro-heading">Living Data Everywhere</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/awareinstances.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal38-content1">
            </div>
            <script>
              document.getElementById('patternsModal38-content1').innerHTML =
                marked('*Lorem ipsum lifts the burden of the thinking about the practical realities of using and operating the product. Real data never looks pretty.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal38-content2"></div>
            <script>
              document.getElementById('patternsModal38-content2').innerHTML =
                marked('Telecommunications products are used by customers in almost every aspect of their lives, whether it is at work, at home, or on the move. The same product can be used with friends, family, or colleagues in a variety of different ways. Each of these situations is reflected by data. When new concepts are first conceived, there is a tendency to ignore these diverse situations and to focus on some simplistic scenarios, often to the point of being reductionist and ignoring necessary complexity. These simplistic scenarios are easy to comprehend for the design, development, and testing of the product. The usage of processes where everything goes well (“sunny day scenarios”) and filler content (“lorem ipsum”) reflects this practice. Design agencies tend to focus on making the concept look visually appealing, sometimes at the expense of using simplistic data. For instance, consider the simple example of a drop down menu that looks great with 5 “lorem ipsum” choices, but not so nice with the actual 203 required choices. On the other hand, real production data cannot be utilized under any circumstances in design, development, or testing due to their sensitivity. Products, once they are realized, tend not to look like the early concepts because they have to cope with real data reflective of processes where many things can go wrong.<br /><br />Therefore one of the biggest investments an organization can make is in creating and maintaining data for usage in design, development, and testing. This data should be inspired by real production data, but under no circumstances should it really be production data. The data should be reflective of the diverse situations faced by products, and should constantly be revised and updated based on the actual situations. The validity of the product in the organization itself should be linked to how well those who operate, modify, and manage the product manage this data. The data should be versioned so that its history of change is visible. Infrequent changes or prolonged periods without updates should be indicate of this data becoming stale.<br /><br />The Few Skilled Gardeners work with the Three Product Champions and the Participating Demographic create data for design, development, and testing within Trusted Advisor in the Fortified Town. Product Markers indicate the freshness of this data based on how frequently and consistently it has been updated. The data is used to create Living Prototypes that reflect how the product will appear through real usage.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal38-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal38-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="#" data-content="#patternsModal37">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Lifestyle Vaults</h3>
          
          <img src="images/patterns/awareinstances_tn.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="#" data-content="#patternsModal39">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Living Prototypes</h3>
          <span>Market Strategy</span>            
          <img src="images/patterns/awareinstances_tn.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>