<div class="patterns-modal modal fade" id="patternsModal44" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Organization Structure</div>
              <div class="intro-heading">Multi-criteria Directories</div>
              <img src="images/maturity-1.svg" width="20px">
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/awareinstances.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal44-content1">
            </div>
            <script>
              document.getElementById('patternsModal44-content1').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal44-content2"></div>
            <script>
              document.getElementById('patternsModal44-content2').innerHTML =
                marked('to be continued...<br /><br />to be continued...<br /><br />to be continued...');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal44-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal44-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="#" data-content="#patternsModal43">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Meritocracy of Resellers</h3>
          
          <img src="images/patterns/awareinstances_tn.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="#" data-content="#patternsModal45">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Nurture Keystones</h3>
          <span>Operations</span>            
          <img src="images/patterns/awareinstances_tn.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>