<section id="new-telco" rel="NewTelco">
  <div class="pattern">
    <div class="section-background">
      <h1>Communicating Life</h1>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <h3 class="section-subheading">Moderators</h3>
          <p>Indranil Bhattacharya</p>
          <p>Michael Hartges</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">Authors</h3>
          <p>Indranil Bhattacharya</p>
          <p>Michael Hartges</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">Contributors</h3>
          <p>Christian Siringhaus</p>
          <p>Gabrielle Bozzi</p>
        </div>
      </div>
    </div>
  </div>
</section>