<section id="overview" rel="Overview">
  <div class="pattern">
    <div class="section-background">
      <h1>Connecting Life</h1>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <h3 class="section-subheading">Moderators</h3>
          <p>Indranil Bhattacharya</p>
          <p>Teodora Militaru</p>
          <a href="homepage.html">homepage example</a>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">Authors</h3>
          <p>Indranil Bhattacharya</p>
        </div>
        <div class="col-md-4">
          <h3 class="section-subheading">Contributors</h3>
          <p>Christoph Scherer</p>
          <p>Gabriele Bozzi</p>
          <p>Michael Hartges</p>
          <p>Pim Dieben</p>
          <p>Thomas Grimm</p>
        </div>
      </div>
    </div>
  </div>
</section>