<div class="patterns-modal modal fade" id="patternsModal48" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="intro-text">
              <hr>
              <div class="intro-lead-in">Market Strategys</div>
              <div class="intro-heading">Participating Demographic</div>
              <img src="images/maturity-1.svg" width="20px">
              </div>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
            <p class="text-center"><img src="images/patterns/patterndeck_placeholder.jpg" alt="Change History" class="img-responsive" /></p>
            <div id="patternsModal48-content1">
            </div>
            <script>
              document.getElementById('patternsModal48-content1').innerHTML =
                marked('*The demographic develops the product. If you are developing a product for senior citizens, get senior citizens on board as product managers.*');
            </script>
          </div>
        </div>
      </div>
    </header>
    <!-- Services Section -->
    <section>
      <div class="container">
        <div class="row text-left">
          <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4">
            <div id="patternsModal48-content2"></div>
            <script>
              document.getElementById('patternsModal48-content2').innerHTML =
                marked('Product designers who make products they themselves would not use often make irrelevant products for their target market.<br /><br />Therefore the product design process needs involvement from individuals who would actually use the product.<br /><br />Shortly after the Three Product Champions get together, they work to find Skilled Gardeners and individuals who are representative of the target market (Participating Demographic) and include them within Trusted Advisor. If they do not work for the Operator, they are provided an opportunity work within the Fortified Town. They give continuous usage feedback with the Product to the Three Champions, and participate with as many products that are relevant to their Demographic as possible. As the product nears launch, the members of the Participating Demographic meet frequently at the Town Well to discuss their experiences within the product within people within the Fortified Town.');
            </script>
          </div>
          <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8">
            <div id="patternsModal48-content3" class="patterns-notes">
            </div>
            <script>
              document.getElementById('patternsModal48-content3').innerHTML =
                marked('');
            </script>
          </div>
        </div>
      </div>
    </section>
    <nav class="nav-fillslide">
      <a class="prev load-different-content" href="#" data-content="#patternsModal47">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-left fa-2x"></i></span>
        <div>
          <h3>Own Base Currency</h3>
          <span>Market Strategy</span>
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Previous thumb" />
        </div>
      </a>
      <a class="next load-different-content" href="#" data-content="#patternsModal49">
        <span class="icon-wrap"><i class="fa fa-fe fa-long-arrow-right fa-2x"></i></span>
        <div>
          <h3>Pavillion for Transient Threats</h3>
                      
          <img src="images/patterns/patterndeck_placeholder.jpg" alt="Next thumb" />
        </div>
      </a>
    </nav>
  </div>
</div>