<section id="patterns" rel="Patterns" class="bg-light-gray">
  <div class="container">
    <div class="section-title">
      <h1><span>Table of Content</span>Patterns</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal1" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/adaptingwithlife_tn.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Adapting with Life</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal2" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/awareinstances_tn.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Aware Instances</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal3" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/changehistory_tn.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-3-s.svg" width="33px">
            <h4>Change History</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal4" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/changeablebymany_tn.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Changeable by Many</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal5" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/adaptingwithlife_tn.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Charge Upon Consumption</h4>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal6" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/adaptingwithlife_tn.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Classic Lines</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>>
    </div>
  </div>
</section>