<section id="patterns" rel="Patterns" class="bg-light-gray">
  <div class="container">
    <div class="section-title">
      <h1><span>Connecting Life</span>Patterns</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="adapting-with-life.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/adapting-with-life.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Adapting with Life</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="aware-instances.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/aware-instances.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Aware Instances</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="change-history.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/change-history.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-3-s.svg" width="33px">
            <h4>Change History</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="changeable-by-many.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/changeable-by-many.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Changeable by Many</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="charge-upon-consumption.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/charge-upon-consumption.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Charge Upon Consumption</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="classic-lines.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/classic-lines.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Classic Lines</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="clear-withering-products.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/clear-withering-products.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Clear Withering Products</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="coherent-workspace.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/coherent-workspace.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Coherent Workspace</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="components-balance-themselves.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/components-balance-themselves.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Components Balance Themselves</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="configuration-inverse-to-its-complexity.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/configuration-inverse-to-complexity.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Configuration inverse to its Complexity</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="constant-circulation.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/constant-circulation.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Constant Circulation</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="continuous-harvesting.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/continuous-harvesting.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Continuous Harvesting</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="customers-create-their-own.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/customers-create-their-own.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Customers create their Own</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="customers-of-customers.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/customers-of-customers.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Customers of Customers</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="decide-by-matching.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/decide-by-matching.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Decide by Matching</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="deep-roots.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/deep-roots.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Deep Roots</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="everyone-cares.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/everyone-cares.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Everyone Cares</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="events-everywhere.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/events-everywhere.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Events Everywhere</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="everyones-business.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/everyoness-business.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Everyone's Business</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="experience-store.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/experience-store.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Experience Store</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="exotic-plants.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/exotic-plants.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Exotic Plants</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="few-skilled-gardeners.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/few-skilled-gardeners_1.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Few Skilled Gardeners</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="flower-shows.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/flower-shows.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Flower Shows</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="fortified-town.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/fortified-town.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Fortified Town</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="growth-supports.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/growth-support.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Growth Supports</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="hardy-perennials.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/hardy-perennials.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Hardy Perennials</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="heedful-excavations.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/heedful-excavations.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Heedful Excavations</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="hidden-treasures.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/buried-tresures.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Hidden Treasures</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="infinite-varietals.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/infinite-varietals.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Infinite Varietals</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="infrastructure-coalition.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/infrastructure-coalition.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Infrastructure Coalition</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="interdisciplinary-expertise.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/interdisciplinary-expertise.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Interdisciplinary Expertise</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="integral-technology-stack.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/integral-technology-stack.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Integral Technology Stack</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="internal-bazaar.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/internal-bazaar.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Internal Bazaar</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="irrigation-channels.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/irrigation-channels.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Irrigation Channels</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="kitchen-garden.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/kitchen-garden.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Kitchen Garden</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="language-for-instances.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/language-for-instances.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Language for Instances</h4>
            <p>Component BEhavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="legacy-agents.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/legacy-agents.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Legacy Agents</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="lifelong-educators.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Lifelong Educators</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="lifestyle-vaults.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Lifestyle Vaults</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="living-data-everywhere.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/living-data-everywhere.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Living Data Everywhere</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="living-prototypes.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/living-prototypes_1.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Living Prototypes</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="low-walled-town-communities.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/low-walled-town-communities.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Low-walled Town Communities</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="many-products-co-exist.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/many-products-co-exist.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Many Products Co-exist</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="meaningful-names-and-identities.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/meaningful-identities.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Meaningful Names and Identities</h4>
            <p>Market Strategys</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="meritocracy-of-resellers.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Meritocracy of Resellers</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="multi-criteria-directories.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Multi-criteria Directories</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="nurture-keystones.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/nurture-keystones.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Nurture Keystones</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="one-just-like-that-one.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>One just like that One</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="own-base-currency.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/own-base-currency.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Own Base Currency</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="participating-demographic.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/participating-demographic.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Participating Demographic</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="pavillion-for-transient-threats.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/pavillion-for-transient-threats.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Pavillion for Transient Threats</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="piecemeal-provisioning.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/piecemeal-provisioning.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Piecemeal Provisioning</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="plant-in-a-single-garden.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/plant-in-a-single-garden.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Plant in a Single Garden</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="position-possibility.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/position-possibility.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Position Possibility</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="pre-provisioned-frequents.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Pre-provisioned Frequents</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="product-markers.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/product-markers.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Product Markers</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="productpedia.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/productpedia.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Productpedia</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="provider-porting.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Provider Porting</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="pruning-products.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/pruning-products.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Pruning Products</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="real-time-offers.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Real Time Offers</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="recast-moulds.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/recast-molds.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Recast Moulds</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="recurring-reorganizations.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Recurring Reorganizations</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="repurpose-infrastructure.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/repurpose-infrastructure.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Repurpose Infrastructure</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="reside-with-invasives.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/reside-with-invasives.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Reside with Invasives</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="ringed-growth.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/ringed-growth.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Ringed Growth</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="rhythmic-sensemaking-spaces.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Rhythmic Sensemaking Spaces</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="self-service-surrogates.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Self-service Surrogates</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="several-prototyplical-configurations.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Several Prototyplical Configurations</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="shade-from-others.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Shade from Others</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="signature-aromas.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Signature Aromas</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="softground-sockets.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Softground Sockets</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="specify-to-operationalize.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Specify to Operationalize</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="temporary-splints.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Temporary Splints</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="themed-areas.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Themed Areas</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="three-product-champions.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Three Product Champions</h4>
            <p>Operators</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="tollhouse-couponing.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Tollhouse Couponing</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="town-well.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Town Well</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="travelling-artisan.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Travelling Artisan</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="trusted-advisor.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Trusted Advisor</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="usage-view-as-it-occurs.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Usage View as it Occurs</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="user-defined-user-experience.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>User Defined User Experience</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="visible-assists.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Visible Assists</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="wheelbarrow-planter.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Wheelbarrow Planter</h4>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="whole-town-participates.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Whole Town Participates</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="working-alongside.html" class="patterns-link">
          <div class="patterns-hover">
            <i class="fa fa-eye fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <h4>Working Alongside</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>