<section id="patterns" rel="Patterns" class="bg-light-gray">
  <div class="container">
    <div class="section-title">
      <h1><span>Table of Content</span>Patterns</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal1" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Adapting with Life</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal2" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Aware Instances</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal3" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-3-s.svg" width="33px">
            <h4>Change History</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal4" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Changeable by Many</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal5" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Charge Upon Consumption</h4>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal6" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Classic Lines</h4>
            <p>Market Strategy</p>
          </div>
        </a>
        </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal7" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Clear Withering Products</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal8" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Coherent Workspace</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal9" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Components Balance Themselves</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal10" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Configuration inverse to its Complexity</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal11" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Constant Circulation</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal12" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Continuous Harvesting</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal13" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Customers create their Own</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal14" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Customers of Customers</h4>
            <p>Market Strategy</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal15" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Decide by Matching</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal16" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Deep Roots</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal17" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Everyone Cares</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal18" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Events Everywhere</h4>
            <p>Component Behavior</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal19" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Everyone's Business</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal20" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Experience Store</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal21" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Exotic Plants</h4>
            <p>Operations</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal22" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Few Skilled Gardeners</h4>
            <p>Organization Structure</p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal23" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Flower Shows</h4>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal24" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Fortified Town</h4>
            <p>Organization Structure</p>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal25" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Growth Supports</h4>
            <p>Operations</p>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal26" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Hardy Perennials</h4>
            <p>Operations</p>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal27" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Infinite Varietals</h4>
            <p>Market Strategy</p>
            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal28" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Infrastructure Coalition</h4>
                        
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal29" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Interdisciplinary Expertise</h4>
            <p>Operations</p>            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal30" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Integral Technology Stack</h4>
            <p>Component Behavior</p>            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal31" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Internal Bazaar</h4>
            <p>Operations</p>            
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal32" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Irrigation Channels</h4>
                        
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal33" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Kitchen Garden</h4>
            <span>Operations</span>           
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal34" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Language for Instances</h4>
            <span>Component BEhavior</span>           
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal35" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Legacy Agents</h4>
            <span>Component BEhavior</span>           
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal36" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Lifelong Educators</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal37" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Lifestyle Vaults</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal38" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Living Data Everywhere</h4>
            <span>Component Behavior</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal39" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Living Prototypes</h4>
            <span>Market Strategyr</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal40" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Low-walled Town Communities</h4>
            <span>Organization Structure</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal41" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Many Products Co-exist</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal42" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Meaningful Names and Identities</h4>
            <span>Market Strategys</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal43" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Meritocracy of Resellers</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal44" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Multi-criteria Directories</h4>
            <span>Organization Structure</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal45" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Nurture Keystones</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal46" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>One just like that One</h4>
            <span>Market Strategy</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal47" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Own Base Currency</h4>
            <span>Market Strategy</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal48" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Participating Demographic</h4>
            <span>Market Strategy</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal49" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Pavillion for Transient Threats</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal50" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Pavillion for Transient Threats</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal51" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Plant in a Single Garden</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal52" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Position Possibility</h4>
            <span>Market Strategy</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal53" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Pre-provisioned Frequents</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
       <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal54" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Product Markers</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal55" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Productpedia</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal56" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Provider Porting</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal57" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Pruning Products</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal58" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Real Time Offers</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal59" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Recast Moulds</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal60" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            
            <h4>Recurring Reorganizations</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal61" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Repurpose Infrastructure</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal62" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Reside with Invasives</h4>
                      
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal63" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Ringed Growth</h4>
            <span>Operations</span>          
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal64" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Rhythmic Sensemaking Spaces</h4>
                   
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal65" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Self-service Surrogates</h4>
                   
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal66" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Several Prototyplical Configurations</h4>
            <span>Component Behavior</span>       
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal67" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Shade from Others</h4>
            <span>Operators</span>       
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal68" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Signature Aromas</h4>
            <span>Operators</span>       
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="#patternsModal69" class="patterns-link" data-toggle="modal">
          <div class="patterns-hover">
            <i class="fa fa-plus fa-3x"></i>
          </div>
          <img src="images/patterns/patterndeck_placeholder.jpg" class="img-responsive" alt="" />
          <div class="patterns-caption">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <img src="images/maturity-1-s.svg" width="11px">
            <h4>Specify to Operationalize</h4>
            <span>Operators</span>       
          </div>
        </a>
      </div>
    </div>
  </div>
</section>